/app/etc/.cryptokey
/app/etc/*.yml
/app/etc/id
/app/cache
/.settings
/.buildpath
/.project
/.idea
/composer.phar
/vendor
/.pydevproject
.DS_Store
/nbproject
/app/python/dist
/app/python/build
/app/python/src/ScalrPy.egg-info
