.x-panel-collapsible-mini.x-panel-collapsed{
	height:0!important;
	margin-bottom:0!important;
}

/*access control column*/
.scalr-ui-panel-account-users .user-permission{
	font-weight:bold;
}

.scalr-ui-panel-account-users .x-grid-cell-inner{
	position:relative;
}

.scalr-ui-panel-account-users .x-grid-row-options{
	display:none;
	position:absolute;
	top:2px;
	right:10px;
    height: 20px;
    width: 48px;
    background: #FAFAFA;
    border-radius: 2px;
}

.scalr-ui-panel-account-users .x-grid-row-over .x-grid-row-options,
.scalr-ui-panel-account-users .x-grid-row-selected .x-grid-row-options{
	display:block;
}

.scalr-ui-panel-account-users .x-grid-row-options-icon{
	width:32px;
	height:20px;
	background:url("/ui2/images/ui/account/manage_access.png") 0 0 no-repeat;
    margin: 0 auto;
}

/*edit teams button*/
.scalr-ui-panel-account-users .user-teams{
	line-height: 24px;
}

.scalr-ui-panel-account-users .user-teams a{
	color:#0055cc;
}

.scalr-ui-panel-account-users .user-teams .x-form-display-field {
    padding-right: 60px;
    position: relative;
}

.scalr-ui-panel-account-users .user-teams-edit{
	/*background: rgba(255, 255, 255, 0.8);
	padding: 2px 10px;
	border: 1px dotted #B1B7C7;
	border-radius: 3px;
	color: #333333;*/

    padding: 2px 10px;
    background: #cfd8e2;
    border-radius: 3px;
    color: #212b3d!important;
    text-shadow: 0 1px rgba(255,255,255,0.3);

	font: bold 12px arial, helvetica, sans-serif;
    position: absolute;
    top: 0;
    right: 0;
}

.scalr-ui-panel-account-users .user-teams-edit:hover{
	background: #dae2eb;
	text-decoration:none;
}

.scalr-ui-panel-account-users .user-teams.expanded .user-teams-edit{
	display:none;
}

.scalr-ui-users-account-admin{
    background: #fefde0;
    border-radius: 3px;
    padding: 18px 18px 12px;
}