.x-panel-collapsible-mini.x-panel-collapsed{
	margin: 0!important;
}

.scalr-ui-panel-account-users .x-form-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 24px;
    margin-top: -12px;
}

.scalr-ui-panel-account-users .x-gravatar {
    position: absolute;
    right: 32px;
    top: 16px;
    border-radius: 4px;
    width: 52px;
    height: 52px;
}

/*access control column*/
.scalr-ui-panel-account-users .x-grid-cell-inner{
	position:relative;
}

.scalr-ui-panel-account-users .x-grid-row-options{
	display: none;
	position: absolute;
	top: 5px;
	right: 10px;
    height: 24px;
    width: 48px;
    background: #dee9f3;
    border-radius: 2px;
}

.scalr-ui-panel-account-users .x-grid-item-over .x-grid-row-options,
.scalr-ui-panel-account-users .x-grid-item-selected .x-grid-row-options{
	display:block;
}

.scalr-ui-panel-account-users .x-grid-row-options-icon{
	width: 32px;
	height: 20px;
	background:url("/ui2/images/ui/account/manage_access.png") 0 0 no-repeat;
    margin: 2px auto 0;
}

/*edit teams button*/
.scalr-ui-panel-account-users .user-teams a{
	color:#0055cc;
}

.scalr-ui-panel-account-users .user-teams .x-form-display-field {
    padding-right: 76px;
    position: relative;
}

.scalr-ui-panel-account-users .user-teams-edit{
    padding: 2px 10px;
    background: #96b1cd;
    border-radius: 3px;
    color: #fff!important;

    position: absolute;
    top: 4px;
    right: 0;
}

.scalr-ui-panel-account-users .user-teams-edit:hover{
	background: #a0bad3;
	text-decoration:none;
}

.scalr-ui-panel-account-users .user-teams.expanded .user-teams-edit{
	display:none;
}

.scalr-ui-users-account-admin{
    background: #fefde0;
    border-radius: 3px;
    padding: 18px 18px 12px;
}