.scalr-ui-variablefield .scalr-scope-scalr,
.scalr-ui-variablefield .scalr-scope-account,
.scalr-ui-variablefield .scalr-scope-env,
.scalr-ui-variablefield .scalr-scope-farm,
.scalr-ui-variablefield .scalr-scope-role,
.scalr-ui-variablefield .scalr-scope-farmrole {
    margin-top: 3px;
}

.scalr-ui-variablefield-grid .x-panel-body-default {
    box-shadow: none;
}

.scalr-ui-variablefield-grid .x-grid-cell {
    height: 36px;
    vertical-align: middle;
}

.scalr-ui-variablefield-grid .x-grid-row {
    width: 100%;
}

.scalr-ui-variablefield-grid-variable-value-long {
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.scalr-ui-variablefield-grid-flag-final-on,
.scalr-ui-variablefield-grid-flag-final-off,
.scalr-ui-variablefield-grid-flag-hidden-on,
.scalr-ui-variablefield-grid-flag-hidden-off,
.scalr-ui-variablefield-grid-flag-required,
.scalr-ui-variablefield-grid-flag-required-scope-account,
.scalr-ui-variablefield-grid-flag-required-scope-env,
.scalr-ui-variablefield-grid-flag-required-scope-farm,
.scalr-ui-variablefield-grid-flag-required-scope-role,
.scalr-ui-variablefield-grid-flag-required-scope-farmrole {
    float: left;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.scalr-ui-variablefield-grid-flag-final-on,
.scalr-ui-variablefield-grid-flag-final-off {
    background: url('/ui2/images/widget/variablefield/flags-sprite.png') no-repeat 0 0;
}

.scalr-ui-variablefield-grid-flag-final-on {
    background-position: -26px 0;
}

.scalr-ui-variablefield-grid-flag-hidden-on,
.scalr-ui-variablefield-grid-flag-hidden-off {
    background: url('/ui2/images/widget/variablefield/flags-sprite.png') no-repeat 0 -26px;
}

.scalr-ui-variablefield-grid-flag-hidden-on {
    background-position: -26px -26px;
}

.scalr-ui-variablefield-grid-flag-required,
.scalr-ui-variablefield-grid-flag-required-scope-account,
.scalr-ui-variablefield-grid-flag-required-scope-env,
.scalr-ui-variablefield-grid-flag-required-scope-farm,
.scalr-ui-variablefield-grid-flag-required-scope-role,
.scalr-ui-variablefield-grid-flag-required-scope-farmrole {
    background: url('/ui2/images/widget/variablefield/scope-sprite.png') no-repeat 0 0;
}

.scalr-ui-variablefield-grid-flag-required-scope-account {
    background-position: -26px -104px;
}

.scalr-ui-variablefield-grid-flag-required-scope-env {
    background-position: -26px 0;
}

.scalr-ui-variablefield-grid-flag-required-scope-farm {
    background-position: -26px -52px;
}

.scalr-ui-variablefield-grid-flag-required-scope-role {
    background-position: -26px -26px;
}

.scalr-ui-variablefield-grid-flag-required-scope-farmrole {
    background-position: -26px -78px;
}

.scalr-ui-variablefield-variable-locked-scope-scalr,
.scalr-ui-variablefield-variable-locked-scope-account,
.scalr-ui-variablefield-variable-locked-scope-env,
.scalr-ui-variablefield-variable-locked-scope-role,
.scalr-ui-variablefield-variable-locked-scope-farm,
.scalr-ui-variablefield-variable-locked-scope-farmrole {
    background: url('/ui2/images/widget/variablefield/lock-scope-sprite.png') no-repeat 0 0;
    float: left;
    width: 12px;
    height: 16px;
    margin-right: 6px;
    cursor: pointer;
}

.scalr-ui-variablefield-variable-locked-scope-scalr {
    background-position: -12px 0;
}

.scalr-ui-variablefield-variable-locked-scope-account {
    background-position: -24px 0;
}

.scalr-ui-variablefield-variable-locked-scope-env {
    background-position: -36px 0;
}

.scalr-ui-variablefield-variable-locked-scope-role {
    background-position: -48px 0;
}

.scalr-ui-variablefield-variable-locked-scope-farm {
    background-position: -60px 0;
}

.scalr-ui-variablefield-extendedform-variable-name {
    width: 190px;
    padding-left: 6px;
    font-size: 13px;
    color: rgb(102, 102, 102);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

    .scalr-ui-variablefield-grid-flag-final-on,
    .scalr-ui-variablefield-grid-flag-final-off {
        background-image: url('/ui2/images/widget/variablefield/flags-sprite-retina.png');
        background-size: 104px 52px;
    }

    .scalr-ui-variablefield-grid-flag-hidden-on,
    .scalr-ui-variablefield-grid-flag-hidden-off {
        background-image: url('/ui2/images/widget/variablefield/flags-sprite-retina.png');
        background-size: 104px 52px;
    }

    .scalr-ui-variablefield-grid-flag-required,
    .scalr-ui-variablefield-grid-flag-required-scope-account,
    .scalr-ui-variablefield-grid-flag-required-scope-env,
    .scalr-ui-variablefield-grid-flag-required-scope-farm,
    .scalr-ui-variablefield-grid-flag-required-scope-role,
    .scalr-ui-variablefield-grid-flag-required-scope-farmrole {
        background-image: url('/ui2/images/widget/variablefield/scope-sprite-retina.png');
        background-size: 104px 130px;
    }

    .scalr-ui-variablefield-variable-locked-scope-scalr,
    .scalr-ui-variablefield-variable-locked-scope-account,
    .scalr-ui-variablefield-variable-locked-scope-env,
    .scalr-ui-variablefield-variable-locked-scope-role,
    .scalr-ui-variablefield-variable-locked-scope-farm,
    .scalr-ui-variablefield-variable-locked-scope-farmrole {
        background-image: url('/ui2/images/widget/variablefield/lock-scope-sprite-retina.png');
        background-size: 72px 16px;
    }
}