.scalr-ui-variablefield-flag-required .x-form-display-field-body,
.scalr-ui-variablefield-flag-final .x-form-display-field-body {
    background: url('/ui2/images/widget/variablefield/flags_sprite.png') no-repeat;
    padding-left: 26px;
}

.scalr-ui-variablefield-flag-required .x-form-display-field-body {
	background-position: 0 -26px;
}

.scalr-ui-variablefield-flag-final .x-form-display-field-body {
	background-position: 0 0;
}

.scalr-ui-variablefield-scope-env, .scalr-ui-variablefield-scope-role, .scalr-ui-variablefield-scope-farm {
	margin-bottom: 5px;
}

.scalr-ui-variablefield-scope-env {
	background: #FCA503;
	border-radius: 2px;
    box-shadow: 0 1px rgba(255, 255, 255, 0.6);
}

.scalr-ui-variablefield-scope-role {
	background: #7CBFE7;
	border-radius: 2px;
    box-shadow: 0 1px rgba(255, 255, 255, 0.6);
}

.scalr-ui-variablefield-scope-farm {
	background: #0F9104;
	border-radius: 2px;
	box-shadow: 0 1px rgba(255, 255, 255, 0.6);
}

.scalr-ui-variablefield-scope-farmrole {
	background: #D90000;
	border-radius: 2px;
	box-shadow: 0 1px rgba(255, 255, 255, 0.6);
}

.scalr-ui-variablefield-scope-env.icon, .scalr-ui-variablefield-scope-role.icon, .scalr-ui-variablefield-scope-farm.icon, .scalr-ui-variablefield-scope-farmrole.icon {
    margin: 2px 10px 4px 0;
    float: left;
    height: 10px;
    width: 10px;
}

.scalr-ui-variablefield-btn-autohide .x-btn-action-small {
    visibility: hidden;
}

.scalr-ui-variablefield-btn-autohide:hover .x-btn-action-small {
    visibility: inherit;
}
