/* Ready for 4.2 in ui.css styles */
/* widget: addfield */
.scalr-ui-addfield {
    height: 24px;
    background: #E1ECDD url('/ui2/images/widget/addfield/add-item.png') no-repeat center center;
    border-radius: 3px;
    cursor: pointer;
}

.scalr-ui-addfield-light{
    background-color: #EDF3EB;
}

.scalr-ui-addfield:hover {
    background-color: #E7EEE3;
}

.scalr-ui-addfield-light:hover {
    background-color: #FCFDFB;
}

.scalr-ui-farms-view-td-lock .x-grid-cell-inner {
    padding: 3px 20px 3px;
}

.scalr-ui-farms-view-lock {
    background: url("/ui2/images/ui/farms/view/lock.png") 0 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.scalr-ui-farms-view-lock:hover {
    background-position: -20px 0;
}

.scalr-ui-farms-view-unlock {
    background: url("/ui2/images/ui/farms/view/lock.png") 0 -20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.scalr-ui-farms-view-unlock:hover {
    background-position: -20px -20px;
}






/*
 * Operation status style
 */
.scalr-operation-status-complete {
	background: url('/ui2/images/icons/operation_status_icons_sprite.png') no-repeat;
	height:14px;
	width:14px;
	background-position: 0px 0px;
	float:left;
	margin-right:5px;
}

.scalr-operation-status-running {
	/*background: url('/ui2/images/icons/operation_status_icons_sprite.png') no-repeat;*/
	height:14px;
	width:14px;
	/*background-position: 0px -14px;*/
	float:left;
	margin-right:5px;
}

.scalr-operation-status-warning {
	background: url('/ui2/images/icons/operation_status_icons_sprite.png') no-repeat;
	height:14px;
	width:14px;
	background-position: 0px -28px;
	float:left;
	margin-right:5px;
}

.scalr-operation-status-error {
	background: url('/ui2/images/icons/operation_status_icons_sprite.png') no-repeat;
	height:14px;
	width:14px;
	color: red;
	background-position: 0px -42px;
	float:left;
	margin-right:5px;
}

.scalr-operation-status-pending {
	float:left;
	height:14px;
	width:14px;
	margin-right:5px;
}


/*4.2 ready styles below*/


/*dataview boxes*/
.x-dataview-boxes .x-item{
	width:100px;
	height:100px;
	background: #fff;
	border-radius: 4px;
	cursor: pointer;
	text-align:center;
	float:left;
	margin:0 12px 12px 0;
    padding:0;
    position:relative;
    text-shadow:none;
}

.x-dataview-boxes .x-item-invalid{
	background:#F8D7D6;
}

.x-dataview-boxes .x-item-over{
	background:#F9FAFB;
}

.x-dataview-boxes .x-item-over.x-item-invalid{
	background:#F9DCDB;
}

.x-dataview-boxes .x-item-selected{
    background: #AFB9C7;
    box-shadow: 0 1px 1px #31476C inset, 0 1px 1px rgba(49, 71, 108, 0.4) inset, 0 1px 3px rgba(49, 71, 108, 0.7) inset, 0 1px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 1px 2px #31476C inset, 0 1px 1px rgba(49, 71, 108, 0.4) inset, 0 1px 5px rgba(49, 71, 108, 0.7) inset, 0 1px rgba(255, 255, 255, 0.5);
    color: #fff;
}

.x-dataview-boxes .x-item-selected.x-item-invalid{
    background: #DFA7A2;
    box-shadow: 0 1px 1px #742C25 inset, 0 1px 1px rgba(116, 44, 37, 0.4) inset, 0 1px 3px rgba(116, 44, 37, 0.7)inset, 0 1px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 1px 2px #742C25 inset, 0 1px 1px rgba(116, 44, 37, 0.4) inset, 0 1px 5px rgba(116, 44, 37, 0.7) inset, 0 1px rgba(255, 255, 255, 0.5);
}

.x-dataview-boxes .x-item-inner div{
    margin: 0 auto;
}

.x-dataview-boxes .x-grid-empty{
	background:transparent;
    padding: 0;
}

/*fieldset subheader*/
.x-fieldset-subheader{
    color: #212B3D;
    font:18px/22px arial,helvetica,tahoma,sans-serif;
    text-shadow: 0 1px rgba(255, 255, 255, 0.8);
    margin: 0 0 16px;
    display: block;
}

.x-fieldset .x-fieldset-subheader{
    margin: 8px -32px;
    padding: 18px 32px 10px;
}


.scalr-ui-tagbox-tip-with-list {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.scalr-ui-tagbox-tip-without-list {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.scalr-ui-tagbox-boundlist-with-tip {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.scalr-ui-tagbox-boundlist-without-tip {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
/*
.x-boxselect-item {
    max-width: 100%;
}

.x-boxselect-item-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.x-boxselect-input {
    display: inline-block;
}
*/
/*cloudlocationmap*/
.scalr-ui-cloudlocationmap{
    text-align:center;
}

.scalr-ui-cloudlocationmap .map{
    margin: 0 auto;
    position: relative;
}

.scalr-ui-cloudlocationmap .map-common{
    background: url(/ui2/images/widget/cloudlocationmap/maps.png?1.1) 0 -400px no-repeat;
}

.scalr-ui-cloudlocationmap .map-large{
    background: url(/ui2/images/widget/cloudlocationmap/maps-large.png?1.1) 0 -560px no-repeat;
}

.scalr-ui-cloudlocationmap .location{
	position:absolute;
	width:10px;
	height:10px;
	background: #95A5B3;
	border-radius: 5px;
	z-index:2;
	cursor:pointer;
}

.scalr-ui-cloudlocationmap .selected{
	background: #1D9C16;
}

.scalr-ui-cloudlocationmap .title{
	text-align:center;
	font-weight:bold;
	padding: 0 5px;
	top:40px;
	left:50px;
	position:absolute;
	z-index:3;
    line-height: 20px;
    background: white;
    box-shadow: 0 1px 1px #95A0B3;
    border-radius: 2px;
}

/*todo: move to theme*/
/*expanded*/
.x-grid-wrap-row.x-grid-row-focused .x-grid-data-row td{
    box-shadow: 0 1px #a6b7cf inset,0 2px #bcc9db inset;
}

.x-grid-wrap-row.x-grid-row-focused .x-grid-data-row td:first-child{
    box-shadow: 0 1px #a6b7cf inset,0 -1px #a6b7cf inset,1px 0 #a6b7cf inset,0 2px #bcc9db inset,0 -2px #bcc9db inset,2px 0 #bcc9db inset;
}

.x-grid-wrap-row.x-grid-row-focused .x-grid-data-row td:last-child{
    box-shadow: 0 1px #a6b7cf inset,-1px 0 #a6b7cf inset,0 2px #bcc9db inset,-2px 0 #bcc9db inset;
}
/*expanded rowbody*/
.x-grid-wrap-row.x-grid-row-focused .x-grid-rowbody-tr td{
    box-shadow: 0 -1px #a6b7cf inset,0 -2px #bcc9db inset;
}

/*.x-grid-wrap-row.x-grid-row-focused .x-grid-rowbody-tr td:first-child{
    box-shadow: 0 1px #a6b7cf inset,0 -1px #a6b7cf inset,1px 0 #a6b7cf inset,0 2px #bcc9db inset,0 -2px #bcc9db inset,2px 0 #bcc9db inset;
}*/

.x-grid-wrap-row.x-grid-row-focused .x-grid-rowbody-tr td:last-child{
    box-shadow: 0 -1px #a6b7cf inset,-1px 0 #a6b7cf inset,0 -2px #bcc9db inset,-2px 0 #bcc9db inset;
}
/*collapsed*/
.x-grid-wrap-row.x-grid-row-focused.x-grid-row-collapsed .x-grid-data-row td{
    box-shadow: 0 1px #a6b7cf inset,0 -1px #a6b7cf inset,0 2px #bcc9db inset,0 -2px #bcc9db inset;
}

.x-grid-wrap-row.x-grid-row-focused.x-grid-row-collapsed .x-grid-data-row td:last-child{
    box-shadow: 0 1px #a6b7cf inset,0 -1px #a6b7cf inset,-1px 0 #a6b7cf inset,0 2px #bcc9db inset,0 -2px #bcc9db inset,-2px 0 #bcc9db inset;
}


/*field with governance or globalvars icon*/
.x-field .x-field-icons {
    position: absolute;
    top: 5px;
    left: 0;
}

.x-form-cb-wrap .x-field-icons {
    position: relative;
    top: 2px;
    margin-left: 5px;
}


.x-field .x-field-icons img {
    margin-right: 4px;
    vertical-align: baseline;
}

/*display field with background*/
.x-display-field-highlight .x-form-display-field {
    margin-top: 0;
}

.x-display-field-highlight .x-form-display-field-body{
    background:#fbfbfc;
    padding: 6px 6px 4px;
    border-radius: 3px;
}


/*chart preview*/
.scalr-ui-chart-preview{
    float: left;
    margin-bottom: 20px;
    margin-right: 40px;
}

.scalr-ui-chart-preview .scalr-ui-chart-preview-title {
    margin-bottom: 10px;
}

.scalr-ui-chart-preview img {
    cursor: pointer;
}

/*custom progress bar with steps*/
.scalr-ui-progress-step:first-child{
    border-radius: 3px 0 0 3px;
    border: 0!important;
}

.scalr-ui-progress-step:last-child{
    border-radius: 0 3px 3px 0;
}

.scalr-ui-progress-step{
    height: 26px;
    background: #d2d9e3;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border-left: 1px solid #bfcada;
    font-size: 110%;
    line-height: 26px;
    text-shadow: 0 1px rgba(1,1,1,0.2);
    white-space: nowrap;
}

.scalr-ui-progress-step.complete{
    background: #b3d7ac;
    border-left: 1px solid #9ecc95;
}

.scalr-ui-progress-step.inprogress{
    background: url('/ui2/images/widget/progress/progress.gif') 0 0 no-repeat;
}

.scalr-ui-environment-cloud-disabled:not(.x-btn-over) .x-btn-icon-el{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url('/ui2/js/extjs-4.2/theme/svg/grayscale.svg#greyscale');
    opacity: .4;
}

/*exclusively for chrome + retina to fix disappearing buttons on #/account/roles*/
.x-grid-cell-buttongroupcolumn .x-btn,
.x-grid-cell-buttongroupcolumn .x-btn-wrap,
.x-grid-cell-buttongroupcolumn .x-btn-button{
    position: static;
}

/*colored status*/
.x-grid-row-colored-status-cell {
    line-height: 22px;
}

.x-grid-row-colored-status-cell .x-grid-cell-inner {
    padding: 2px;
}

.x-colored-status {
    border-radius: 3px;
    font: bold 13px/22px arial, helvetica, sans-serif;
    color: #212B3D;
    text-shadow: 0 1px rgba(255, 255, 255, 0.2);
    display: block;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 5px;
}

.x-grid-with-formfields .x-grid-row-colored-status-cell,
.x-grid-with-formfields .x-colored-status{
    line-height: 26px;
}

.x-grid-with-formfields .x-grid-row-colored-status-cell .x-grid-cell-inner {
    padding: 5px;
}

div.x-colored-status {
    cursor: default;
}

.x-field .x-colored-status {
    margin-top: -6px;
}

.x-colored-status:hover {
    color: #000;
}

.x-colored-status img{
    float: left;
    margin: 0 -22px 0 -4px;
}

.x-colored-status {
    background-color: #ddd;
}

.x-colored-status.green {
    background-color: #D1E7C9;
}

.x-colored-status.blue {
    background-color: #CDE6F5;
}

.x-colored-status.yellow {
    background-color: #FDE1A8;
}

.x-colored-status.red {
    background-color: #FDD5C1;
}

.x-icon-colored-status-failed {
    width: 22px;
    height: 22px;
    background: url('/ui2/images/widget/coloredstatus/failed.png') 0 0 no-repeat;
}

.x-icon-colored-status-running {
    width: 22px;
    height: 22px;
    background: url('/ui2/images/widget/coloredstatus/running.gif') 0 0 no-repeat;
}

.x-grid-buffered-loader{
    width: 140px;
    margin: 0 auto;
    background: url('/ui2/images/icons/anim/list-loader.gif') 0 50% no-repeat;
    padding-left: 28px;
    line-height: 40px;
}

.x-fieldset-infobox {
    width: 16px;
    height: 16px;
    background: url('/ui2/images/icons/info_icon_16x16.png') 0 0 no-repeat;
    cursor: help;
    position:relative;
    top: 2px;
}


/*retina 2x images*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {

    .scalr-ui-farms-view-lock, .scalr-ui-farms-view-unlock{
        background-image: url("/ui2/images/ui/farms/view/lock_retina.png");
        background-size: 40px 40px;
    }

    .scalr-ui-addfield {
        background-size: 14px 15px;
        background-image: url('/ui2/images/widget/addfield/add-item-retina.png');
    }

    .scalr-ui-cloudlocationmap .map-common{
        background-size: 210px 700px;
        background-image: url(/ui2/images/widget/cloudlocationmap/maps-retina.png);
    }

    .scalr-ui-cloudlocationmap .map-large{
        background-size: 320px 980px;
        background-image: url(/ui2/images/widget/cloudlocationmap/maps-large-retina.png);
    }

    .scalr-ui-progress-step.inprogress{
        background-size: 300px 26px;
        background-image: url('/ui2/images/widget/progress/progress-retina.gif');
    }

    .x-icon-colored-status-failed {
        background-size: 22px 22px;
        background-image: url('/ui2/images/widget/coloredstatus/failed-retina.png');
    }

    .x-icon-colored-status-running {
        background-size: 22px 22px;
        background-image: url('/ui2/images/widget/coloredstatus/running-retina.gif');
    }

    .x-grid-buffered-loader{
        background-size: 22px 22px;
        background-image: url('/ui2/images/icons/anim/list-loader-retina.gif');
    }
}

.scalr-ui-changelog-div {
    width: 100%;
    padding: 5px 5px 5px 12px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.scalr-ui-changelog-div:nth-of-type(even) {
    background-color: #F4F4F4;
}

.scalr-ui-changelog-desc {
    font: bold 11px arial;
    color: #333;
    margin-bottom: 3px;
}

.scalr-ui-changelog-message-slim {
    font-family: arial, sans-serif;
    font-size: 13px;
}

.scalr-ui-changelog-info {
    font: bold 11px arial;
    color: #EB4608;
    vertical-align: super;
}

.scalr-ui-changelog-grid .x-grid-row {
    height: 53px;
}

.scalr-ui-changelog-grid .x-column-header-text {
    background-image: none;
}

.scalr-ui-changelog-grid .x-grid-header-ct {
    display: none;
}

.scalr-ui-menu-changelog-news-counter {
    height: 16px;
    width: 16px;
    background-color: #FFE493;
    border-radius: 100px;
    box-shadow: 0 1px rgba(65,92,120,0.2),0 1px 1px rgba(65,92,120,0.3);
    font: bold 11px arial, helvetica, sans-serif;
    color: #C20101;
    text-align: center;
    padding-top: 1px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 1000;
}

.scalr-scope-scalr,
.scalr-scope-account,
.scalr-scope-environment,
.scalr-scope-env,
.scalr-scope-farm,
.scalr-scope-role,
.scalr-scope-farmrole {
    height: 10px;
    width: 10px;
    border-radius: 2px;
}

.scalr-scope-scalr {
    background-color: #4567CB;
}

.scalr-scope-account {
    background-color: #DA6BE7;
}

.scalr-scope-environment {
    background-color: #FCA503;
}

.scalr-scope-env {
    background-color: #FCA503;
}

.scalr-scope-farm {
    background-color: #0F9104;
}

.scalr-scope-role {
    background-color: #7CBFE7;
}

.scalr-scope-farmrole {
    background-color: #D90000;
}

.x-menu-item-icon-scope {
    background-image: none !important;
    width: 16px !important;
    height: 16px !important;
}

/* move to style, taken from account2/users/view.css */
.scalr-ui-container-danger {
    background: #fefde0;
    border-radius: 3px;
    padding: 18px 18px 12px;
}
