/* login window */
#recaptcha_widget a:hover { border-radius: 3px; background-color: #FCFCFD !important; }




/* Ready for 4.2 in ui.css styles */
/* widget: addfield */
.scalr-ui-addfield {
    height: 30px;
    background: #E1ECDD url('/ui2/images/widget/addfield/add-item.png') no-repeat center center;
    border-radius: 0;
    cursor: pointer;
}

.scalr-ui-addfield-light{
    background-color: #EDF3EB;
}

.scalr-ui-addfield:hover {
    background-color: #E7EEE3;
}

.scalr-ui-addfield-light:hover {
    background-color: #FCFDFB;
}







/*
 * Operation status style
 */
.scalr-operation-status-complete {
	background: url('/ui2/images/icons/operation_status_icons_sprite.png') no-repeat;
	height:14px;
	width:14px;
	background-position: 0px 0px;
	float:left;
	margin-right:5px;
}

.scalr-operation-status-running {
	/*background: url('/ui2/images/icons/operation_status_icons_sprite.png') no-repeat;*/
	height:14px;
	width:14px;
	/*background-position: 0px -14px;*/
	float:left;
	margin-right:5px;
}

.scalr-operation-status-warning {
	background: url('/ui2/images/icons/operation_status_icons_sprite.png') no-repeat;
	height:14px;
	width:14px;
	background-position: 0px -28px;
	float:left;
	margin-right:5px;
}

.scalr-operation-status-error {
	background: url('/ui2/images/icons/operation_status_icons_sprite.png') no-repeat;
	height:14px;
	width:14px;
	color: red;
	background-position: 0px -42px;
	float:left;
	margin-right:5px;
}

.scalr-operation-status-pending {
	float:left;
	height:14px;
	width:14px;
	margin-right:5px;
}


/*4.2 ready styles below*/
.scalr-ui-tagbox-tip-with-list {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.scalr-ui-tagbox-tip-without-list {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.scalr-ui-tagbox-boundlist-with-tip {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.scalr-ui-tagbox-boundlist-without-tip {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
/*
.x-boxselect-item {
    max-width: 100%;
}

.x-boxselect-item-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.x-boxselect-input {
    display: inline-block;
}
*/

/*todo: move to theme*/
/*expanded*/
.x-grid-wrap-row.x-grid-row-focused .x-grid-data-row td{
    box-shadow: 0 1px #a6b7cf inset,0 2px #bcc9db inset;
}

.x-grid-wrap-row.x-grid-row-focused .x-grid-data-row td:first-child{
    box-shadow: 0 1px #a6b7cf inset,0 -1px #a6b7cf inset,1px 0 #a6b7cf inset,0 2px #bcc9db inset,0 -2px #bcc9db inset,2px 0 #bcc9db inset;
}

.x-grid-wrap-row.x-grid-row-focused .x-grid-data-row td:last-child{
    box-shadow: 0 1px #a6b7cf inset,-1px 0 #a6b7cf inset,0 2px #bcc9db inset,-2px 0 #bcc9db inset;
}
/*expanded rowbody*/
.x-grid-wrap-row.x-grid-row-focused .x-grid-rowbody-tr td{
    box-shadow: 0 -1px #a6b7cf inset,0 -2px #bcc9db inset;
}

/*.x-grid-wrap-row.x-grid-row-focused .x-grid-rowbody-tr td:first-child{
    box-shadow: 0 1px #a6b7cf inset,0 -1px #a6b7cf inset,1px 0 #a6b7cf inset,0 2px #bcc9db inset,0 -2px #bcc9db inset,2px 0 #bcc9db inset;
}*/

.x-grid-wrap-row.x-grid-row-focused .x-grid-rowbody-tr td:last-child{
    box-shadow: 0 -1px #a6b7cf inset,-1px 0 #a6b7cf inset,0 -2px #bcc9db inset,-2px 0 #bcc9db inset;
}
/*collapsed*/
.x-grid-wrap-row.x-grid-row-focused.x-grid-row-collapsed .x-grid-data-row td{
    box-shadow: 0 1px #a6b7cf inset,0 -1px #a6b7cf inset,0 2px #bcc9db inset,0 -2px #bcc9db inset;
}

.x-grid-wrap-row.x-grid-row-focused.x-grid-row-collapsed .x-grid-data-row td:last-child{
    box-shadow: 0 1px #a6b7cf inset,0 -1px #a6b7cf inset,-1px 0 #a6b7cf inset,0 2px #bcc9db inset,0 -2px #bcc9db inset,-2px 0 #bcc9db inset;
}


/*fieldicons plugin*/
.x-field-icons {
    position: absolute;
    top: 6px;
    left: 0;
}

.x-form-item-label .x-field-icons{
    position: relative;
    top: 4px;
    left: 6px;
}

.x-form-field-info .x-field-icons,
.x-form-field-warning .x-field-icons,
.x-form-field-governance .x-field-icons {
    top: 20px;
    left: 24px;
}

.x-field-icons-right {
    left: auto;
    right: 0;
    margin-right: -4px;
}

.x-form-cb-wrap .x-field-icons {
    position: relative;
    margin-left: 5px;
    margin-top: -4px;
    display: inline-block;
    top: 3px;
}

.x-field-icons img {
    margin-right: 4px;
    vertical-align: baseline;
}

/*display field with background*/
.x-display-field-highlight .x-form-item-label-default {
    line-height: 26px;
}

.x-display-field-highlight .x-form-display-field {
    margin-top: 0;
}

.x-display-field-highlight .x-form-display-field-body{
    background:#fbfbfc;
    padding: 6px 6px 4px;
    border-radius: 0;
}


/*chart preview*/
.scalr-ui-chart-preview{
    float: left;
    margin-bottom: 20px;
    margin-right: 40px;
}

.scalr-ui-chart-preview .scalr-ui-chart-preview-title {
    margin-bottom: 10px;
}

.scalr-ui-chart-preview img {
    cursor: pointer;
}

/*custom progress bar with steps*/
.scalr-ui-progress-step:first-child{
    border-radius: 0;
    border: 0!important;
}

.scalr-ui-progress-step:last-child{
    border-radius: 0;
}

.scalr-ui-progress-step{
    height: 32px;
    background: #b0c9e1;
    text-align: center;
    color: #fff;
    border-left: 1px solid #a0bddb;
    line-height: 32px;
    white-space: nowrap;
}

.scalr-ui-progress-step.complete{
    background: #b3d7ac;
}

.scalr-ui-progress-step.inprogress{
    background: url('/ui2/images/widget/progress/progress.gif') 0 0 no-repeat;
}

.scalr-ui-environment-cloud-disabled:not(.x-btn-over) .x-btn-icon-el{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url('/ui2/js/extjs-4.2/theme/svg/grayscale.svg#greyscale');
    opacity: .4;
}

/*colored status*/
div.x-colored-status {
    cursor: default;
}

.x-field .x-colored-status {
    line-height: 28px;
    margin-top: -6px;
    text-align: center;
    display: block;
    color: #224164;
}

.x-colored-status img{
    float: left;
    margin: 5px -20px 0 3px;
}

.x-colored-status {
    background-color: #EDEDED;
}

.x-colored-status.green {
    background-color: #D6EECA;
}

.x-colored-status.blue {
    background-color: #CDE6F5;
}

.x-colored-status.yellow {
    background-color: #FDE3B4;
}
a.x-colored-status.yellow {
    color: inherit;
}

.x-colored-status.red {
    background-color: #FDD5C1;
}

.x-grid-buffered-loader{
    background: #fff
}

.x-grid-buffered-loader div{
    width: 140px;
    margin: 0 auto;
    background: url('/ui2/images/icons/anim/list-loader.gif') 0 50% no-repeat;
    padding-left: 28px;
    line-height: 40px;
}

/*retina 2x images*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {

    .scalr-ui-farms-view-lock, .scalr-ui-farms-view-unlock{
        background-image: url("/ui2/images/ui/farms/view/lock_retina.png");
        background-size: 40px 40px;
    }

    .scalr-ui-addfield {
        background-size: 14px 15px;
        background-image: url('/ui2/images/widget/addfield/add-item-retina.png');
    }

    .scalr-ui-progress-step.inprogress{
        background-size: 300px 32px;
        background-image: url('/ui2/images/widget/progress/progress-retina.gif');
    }

    .x-grid-buffered-loader div{
        background-size: 22px 22px;
        background-image: url('/ui2/images/icons/anim/list-loader-retina.gif');
    }
}

/*.x-menu-item-icon-scope {
    background-image: none !important;
    width: 16px !important;
    height: 16px !important;
}*/

/* move to style, taken from account2/users/view.css */
.scalr-ui-container-danger {
    background: #fefde0;
    border-radius: 0;
    padding: 18px 18px 12px;
}


.x-dataview-list .x-dd-drag-current {
    position: absolute;
}

.x-dataview-list .x-grid-drop-indicator {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 28px;
    width: 100px;
    background: #EEF2F7;
    border: 1px dashed #224164;
    left: -6px;
}

.x-dataview-list .x-grid-drop-indicator *{
    display: none;
}
