/* Ready for 4.2 in ui.css styles */
/* widget: addfield */
.scalr-ui-addfield {
    height: 24px;
    background: #E1ECDD url('/ui2/images/widget/addfield/add-item.png') no-repeat center center;
    border-radius: 3px;
    cursor: pointer;
}

.scalr-ui-addfield-light{
    background-color: #EDF3EB;
}

.scalr-ui-addfield:hover {
    background-color: #E7EEE3;
}

.scalr-ui-addfield-light:hover {
    background-color: #FCFDFB;
}

.scalr-ui-btn-icon-download {
    background: url('/ui2/images/icons/download-icon-16x16.png') no-repeat 0 0 !important;
    left: 14px;
}

.x-btn-pressed .scalr-ui-btn-icon-download {
    background-position: 0 -16px !important;
}


.scalr-ui-farms-view-td-lock .x-grid-cell-inner {
    padding: 3px 20px 3px;
}

.scalr-ui-farms-view-lock {
    background: url("/ui2/images/ui/farms/view/lock.png") 0 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.scalr-ui-farms-view-lock:hover {
    background-position: -20px 0;
}

.scalr-ui-farms-view-unlock {
    background: url("/ui2/images/ui/farms/view/lock.png") 0 -20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.scalr-ui-farms-view-unlock:hover {
    background-position: -20px -20px;
}






/*
 * Operation status style
 */
.scalr-operation-status-complete {
	background: url('/ui2/images/icons/operation_status_icons_sprite.png') no-repeat;
	height:14px;
	width:14px;
	background-position: 0px 0px;
	float:left;
	margin-right:5px;
}

.scalr-operation-status-running {
	/*background: url('/ui2/images/icons/operation_status_icons_sprite.png') no-repeat;*/
	height:14px;
	width:14px;
	/*background-position: 0px -14px;*/
	float:left;
	margin-right:5px;
}

.scalr-operation-status-warning {
	background: url('/ui2/images/icons/operation_status_icons_sprite.png') no-repeat;
	height:14px;
	width:14px;
	background-position: 0px -28px;
	float:left;
	margin-right:5px;
}

.scalr-operation-status-error {
	background: url('/ui2/images/icons/operation_status_icons_sprite.png') no-repeat;
	height:14px;
	width:14px;
	color: red;
	background-position: 0px -42px;
	float:left;
	margin-right:5px;
}

.scalr-operation-status-pending {
	float:left;
	height:14px;
	width:14px;
	margin-right:5px;
}


/*4.2 ready styles below*/


/*dataview boxes*/
.x-dataview-boxes .x-item{
	width:100px;
	height:100px;
	background: #fff;
	border-radius: 4px;
	cursor: pointer;
	text-align:center;
	float:left;
	margin:0 12px 12px 0;
    padding:0;
    position:relative;
    text-shadow:none;
}

.x-dataview-boxes .x-item-invalid{
	background:#F8D7D6;
}

.x-dataview-boxes .x-item-over{
	background:#F9FAFB;
}

.x-dataview-boxes .x-item-over.x-item-invalid{
	background:#F9DCDB;
}

.x-dataview-boxes .x-item-selected{
    background: #AFB9C7;
    box-shadow: 0 1px 1px #31476C inset, 0 1px 1px rgba(49, 71, 108, 0.4) inset, 0 1px 3px rgba(49, 71, 108, 0.7) inset, 0 1px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 1px 2px #31476C inset, 0 1px 1px rgba(49, 71, 108, 0.4) inset, 0 1px 5px rgba(49, 71, 108, 0.7) inset, 0 1px rgba(255, 255, 255, 0.5);
    color: #fff;
}

.x-dataview-boxes .x-item-selected.x-item-invalid{
    background: #DFA7A2;
    box-shadow: 0 1px 1px #742C25 inset, 0 1px 1px rgba(116, 44, 37, 0.4) inset, 0 1px 3px rgba(116, 44, 37, 0.7)inset, 0 1px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 1px 2px #742C25 inset, 0 1px 1px rgba(116, 44, 37, 0.4) inset, 0 1px 5px rgba(116, 44, 37, 0.7) inset, 0 1px rgba(255, 255, 255, 0.5);
}

.x-dataview-boxes .x-item-inner div{
    margin: 0 auto;
}

.x-dataview-boxes .x-grid-empty{
	background:transparent;
    padding: 0;
}

/*fieldset subheader*/
.x-fieldset-subheader{
    color: #212B3D;
    font:18px/22px arial,helvetica,tahoma,sans-serif;
    text-shadow: 0 1px rgba(255, 255, 255, 0.8);
    margin: 0 0 16px;
    display: block;
}

.x-fieldset .x-fieldset-subheader{
    margin: 8px -32px;
    padding: 18px 32px 10px;
}











/*cloudlocationmap*/
.scalr-ui-cloudlocationmap{
    text-align:center;
}

.scalr-ui-cloudlocationmap .map{
    margin: 0 auto;
    position: relative;
}

.scalr-ui-cloudlocationmap .location{
	position:absolute;
	width:10px;
	height:10px;
	background: #95A5B3;
	border-radius: 5px;
	z-index:2;
	cursor:pointer;
}

.scalr-ui-cloudlocationmap .selected{
	background: #1D9C16;
}

.scalr-ui-cloudlocationmap .title{
	text-align:center;
	font-weight:bold;
	padding: 0 5px;
	top:40px;
	left:50px;
	position:absolute;
	z-index:3;
    line-height: 20px;
    background: white;
    box-shadow: 0 1px 1px #95A0B3;
    border-radius: 2px;
}

/*todo: move to theme*/
/*expanded*/
.x-grid-wrap-row.x-grid-row-focused .x-grid-data-row td{
    box-shadow: 0 1px #a6b7cf inset,0 2px #bcc9db inset;
}

.x-grid-wrap-row.x-grid-row-focused .x-grid-data-row td:first-child{
    box-shadow: 0 1px #a6b7cf inset,0 -1px #a6b7cf inset,1px 0 #a6b7cf inset,0 2px #bcc9db inset,0 -2px #bcc9db inset,2px 0 #bcc9db inset;
}

.x-grid-wrap-row.x-grid-row-focused .x-grid-data-row td:last-child{
    box-shadow: 0 1px #a6b7cf inset,-1px 0 #a6b7cf inset,0 2px #bcc9db inset,-2px 0 #bcc9db inset;
}
/*expanded rowbody*/
.x-grid-wrap-row.x-grid-row-focused .x-grid-rowbody-tr td{
    box-shadow: 0 -1px #a6b7cf inset,0 -2px #bcc9db inset;
}

/*.x-grid-wrap-row.x-grid-row-focused .x-grid-rowbody-tr td:first-child{
    box-shadow: 0 1px #a6b7cf inset,0 -1px #a6b7cf inset,1px 0 #a6b7cf inset,0 2px #bcc9db inset,0 -2px #bcc9db inset,2px 0 #bcc9db inset;
}*/

.x-grid-wrap-row.x-grid-row-focused .x-grid-rowbody-tr td:last-child{
    box-shadow: 0 -1px #a6b7cf inset,-1px 0 #a6b7cf inset,0 -2px #bcc9db inset,-2px 0 #bcc9db inset;
}
/*collapsed*/
.x-grid-wrap-row.x-grid-row-focused.x-grid-row-collapsed .x-grid-data-row td{
    box-shadow: 0 1px #a6b7cf inset,0 -1px #a6b7cf inset,0 2px #bcc9db inset,0 -2px #bcc9db inset;
}

.x-grid-wrap-row.x-grid-row-focused.x-grid-row-collapsed .x-grid-data-row td:last-child{
    box-shadow: 0 1px #a6b7cf inset,0 -1px #a6b7cf inset,-1px 0 #a6b7cf inset,0 2px #bcc9db inset,0 -2px #bcc9db inset,-2px 0 #bcc9db inset;
}


/*field with governance icon*/
.x-field .x-icon-governance{
    display:none;
    position: absolute;
    top: 5px;
    margin-left: -22px;
}

.x-field-governance .x-icon-governance{
    display: block;
}

.x-field-governance .x-form-item-body{
    position: relative;
    padding-left: 22px;
}

/*display field with background*/
.x-display-field-highlight .x-form-display-field {
    margin-top: 0;
}

.x-display-field-highlight .x-form-display-field-body{
    background:#fbfbfc;
    padding: 6px 6px 4px;
    border-radius: 3px;
}


/*chart preview*/
.scalr-ui-chart-preview{
	cursor: pointer;
}

/*custom progress bar with steps*/
.scalr-ui-progress-step:first-child{
    border-radius: 3px 0 0 3px;
    border: 0!important;
}

.scalr-ui-progress-step:last-child{
    border-radius: 0 3px 3px 0;
}

.scalr-ui-progress-step{
    height: 26px;
    background: #d2d9e3;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border-left: 1px solid #bfcada;
    font-size: 110%;
    line-height: 26px;
    text-shadow: 0 1px rgba(1,1,1,0.2);
    white-space: nowrap;
}

.scalr-ui-progress-step.complete{
    background: #b3d7ac;
    border-left: 1px solid #9ecc95;
}

.scalr-ui-progress-step.inprogress{
    background: url('/ui2/images/widget/progress/progress.gif') 0 0 no-repeat;
}

.scalr-ui-environment-cloud-disabled:not(.x-btn-over) .x-btn-icon-el{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url('/ui2/js/extjs-4.2/theme/svg/grayscale.svg#greyscale');
    opacity: .4;
}

/*exclusively for chrome + retina to fix disappearing buttons on #/account/roles*/
.x-grid-cell-buttongroupcolumn .x-btn,
.x-grid-cell-buttongroupcolumn .x-btn-wrap,
.x-grid-cell-buttongroupcolumn .x-btn-button{
    position: static;
}