.scalr-ui-dbbackups-calendar {
    position: relative;
    overflow: hidden
}

.scalr-ui-dbbackups-title {
}

.scalr-ui-dbbackups-title div {
    font: normal 12px OpenSansSemiBold,Arial,sans-serif;
    color: #666;
    line-height: 17px;
    text-transform: uppercase;
    background: #fafafa;
    border-style: solid;
    border-width: 0 1px 0 0 !important;
    border-color: #efefef;
    text-align: center;
    padding: 7px;
    overflow: hidden;
    float: left
}

.scalr-ui-dbbackups-cell {
    text-align: right;
    height: 100%;
    overflow: hidden;
    float: left
}

.scalr-ui-dbbackups-cell:first-child {
    border-left: none;
}

.scalr-ui-dbbackups-cell:last-child {
    border-right: none;
}

.scalr-ui-dbbackups-today {
    background: #E0EBF5;
}

.scalr-ui-dbbackups-this-month {
    background: #fff;
    border-right: 1px solid #F7F7F7;
    border-bottom: 1px solid #F7F7F7;
}

.scalr-ui-dbbackups-this-month:hover {
    background: #FBFBFB;
}

.scalr-ui-dbbackups-not-this-month {
    background: #F7F7F7;
    border-right: 1px solid #EFEFEF;
}

.scalr-ui-dbbackups-date {
    color: #AAA;
    padding: 6px 10px;
    font-size: 12px;
    text-transform: uppercase;
}

.scalr-ui-dbbackups-backups {
    width: 100%;
    overflow: hidden;
}

.scalr-ui-dbbackups-backups div {
    background: inherit;
    border-radius: 3px;
    height: 22px;
    text-align: left;
    padding: 3px;
    margin: 0 5px 5px 5px;
}

.scalr-ui-dbbackups-backups-link {
    color: #fff;
    height: 20px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.scalr-ui-dbbackups-cell .scalr-ui-dbbackups-backups-link {
    color: #224164;
}

.scalr-ui-dbbackups-backups-link:hover {
    color: #fff;
    text-decoration: none;
}

.scalr-ui-dbbackups-cell .scalr-ui-dbbackups-backups-link:hover {
    color: #224164;
}

.scalr-ui-dbbackups-backups-link span span {
    color: #ABC9F4;
}

.scalr-ui-dbbackups-cell .scalr-ui-dbbackups-backups-link span span {
    color: #0054CC
}

.scalr-ui-dbbackups-backups-link:hover span {
    border-bottom: 1px dashed #fff;
}

.scalr-ui-dbbackups-cell .scalr-ui-dbbackups-backups-link:hover span {
    border-bottom: 1px dashed rgba(34, 65, 100, 0.6);
}

.scalr-ui-dbbackups-cell .scalr-ui-dbbackups-backups-link:hover span span {
    border-bottom: none;
}

.scalr-ui-dbbackups-backups-link:hover span span {
    border-bottom: none;
}

.scalr-ui-dbbackups-show-more {
    background: url(/ui2/images/ui/db/show-more.png) no-repeat center;
    height: 22px;
    width: 100%;
    text-align: center
}

.scalr-ui-dbbackups-show-more:hover {
    background: url(/ui2/images/ui/db/show-more-hover.png) no-repeat center
}

.scalr-ui-dbbackups-show-more a {
    height: 100%;
    display: block
}

.scalr-ui-dbbackups-show-all-backups-container {
    width: auto !important;
    overflow-y: auto;
    background: #3a6594;
    border-radius: 2px;
    overflow-x: hidden;
}

.scalr-ui-dbbackups-show-all-backups-container::-webkit-scrollbar-thumb {
    background-color: #0E427C;
}

.scalr-ui-dbbackups-show-all-backups-container-content {
    padding: 20px;
}

.scalr-ui-dbbackups-show-all-backups-container-content div {
    padding: 5px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.scalr-ui-dbbackups-show-all-backups-container-content div:first-child {
    padding-top: 0;
}

.scalr-ui-dbbackups-show-all-backups-container-content div:last-child {
    padding-bottom: 0;
}

.scalr-ui-dbbackups-anchor-left,
.scalr-ui-dbbackups-anchor-right {
    position: absolute;
    top: 0;
    height: 0;
    width: 0;
    border-bottom: 12px solid transparent;
}

.scalr-ui-dbbackups-anchor-left {
    border-right: 12px solid #3a6594;
    border-top: 12px solid transparent;
    left: 50px;
}

.scalr-ui-dbbackups-anchor-right {
    border-left: 12px solid #3a6594;
    border-top: 12px solid transparent;
    left: 0;
}

.scalr-ui-dbbackups-button-prev, .scalr-ui-dbbackups-button-next {
    background: url(/ui2/images/ui/db/trigger_month_sprite.png);
}

.scalr-ui-dbbackups-button-prev {
    background-position: -5px -5px;
}

.x-pressed .scalr-ui-dbbackups-button-prev{
    background-position: -5px 21px;
}

.scalr-ui-dbbackups-button-next {
    background-position: -34px -5px;
}

.x-pressed .scalr-ui-dbbackups-button-next {
    background-position: -34px 21px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

    .scalr-ui-dbbackups-show-more {
        background-image: url(/ui2/images/ui/db/show-more-retina.png);
        background-size: 23px 5px;
    }

    .scalr-ui-dbbackups-show-more:hover {
        background-image: url(/ui2/images/ui/db/show-more-hover-retina.png);
        background-size: 23px 5px;
    }
}
