.scalr-ui-dbbackups-calendar {
    position: relative;
    overflow: hidden
}

.scalr-ui-dbbackups-title {
}

.scalr-ui-dbbackups-title div {
    color: #333;
    background: #E6E6E6;
    font-weight: bold;
    text-align: center;
    box-shadow: 1px 0 #C5C5C5 inset, 0 1px #e1e1e1 inset, 2px 0 rgba(255, 255, 255, 0.6) inset;
    padding: 7px;
    overflow: hidden;
    float: left
}

.scalr-ui-dbbackups-cell {
    text-align: right;
    height: 100%;
    overflow: hidden;
    float: left
}

.scalr-ui-dbbackups-cell:first-child {
    border-left: none;
}

.scalr-ui-dbbackups-cell:last-child {
    border-right: none;
}

.scalr-ui-dbbackups-today {
    background: #DBF1C5;
    box-shadow: 0 1px 2px #537630 inset;
    -webkit-box-shadow: 0 1px 3px #537630 inset
}

.scalr-ui-dbbackups-this-month {
    background: #F5F5F5;
    box-shadow: 0 -1px #EAEAEA inset, 1px 0 #EAEAEA inset
}

.scalr-ui-dbbackups-this-month:hover {
    background: #F0F0F0
}

.scalr-ui-dbbackups-not-this-month {
    background: #EAEAEA;
    box-shadow: 1px 0 #DFDFDF inset
}

.scalr-ui-dbbackups-date {
    color: #999999;
    padding: 6px 10px
}

.scalr-ui-dbbackups-backups {
    width: 100%;
    overflow: hidden;
}

.scalr-ui-dbbackups-backups div {
    background: white;
    border-radius: 3px;
    height: 22px;
    text-align: left;
    padding: 3px;
    margin: 0 5px 5px 5px;
}

.scalr-ui-dbbackups-backups-link {
    color: black;
    height: 16px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.scalr-ui-dbbackups-backups-link:hover {
    color: #000;
    text-decoration: none
}

.scalr-ui-dbbackups-backups-link span span {
    color: #0054CC
}

.scalr-ui-dbbackups-backups-link:hover span {
    border-bottom: 1px dashed #999;
}

.scalr-ui-dbbackups-show-more {
    background: url(/ui2/images/ui/db/show_more.png) no-repeat center;
    height: 22px;
    width: 100%;
    text-align: center
}

.scalr-ui-dbbackups-show-more:hover {
    background: url(/ui2/images/ui/db/show_more_hover.png) no-repeat center
}

.scalr-ui-dbbackups-show-more a {
    height: 100%;
    display: block
}

.scalr-ui-dbbackups-show-all-backups-container {
    padding: 12px 17px;
    overflow-y: auto
}

.scalr-ui-dbbackups-show-all-backups-container-content {
    padding: 5px 0
}

.scalr-ui-dbbackups-show-all-backups-container-content div {
    background: #F1F3F8;
    border-radius: 3px;
    padding: 4px;
    margin: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.scalr-ui-dbbackups-anchor-left {
    border-right: 10px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    height: 0;
    width: 0;
    top: 0;
    left: 50px;
    position: absolute;
}

.scalr-ui-dbbackups-anchor-right {
    border-left: 10px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    position: absolute;
}

.scalr-ui-dbbackups-button-prev, .scalr-ui-dbbackups-button-next {
    background: url(/ui2/images/ui/db/trigger_month_sprite.png);
}

.scalr-ui-dbbackups-button-prev {
    background-position: -5px -5px;
}

.x-pressed .scalr-ui-dbbackups-button-prev{
    background-position: -5px 21px;
}

.scalr-ui-dbbackups-button-next {
    background-position: -34px -5px;
}

.x-pressed .scalr-ui-dbbackups-button-next {
    background-position: -34px 21px;
}