.scalr-ui-panel-account-roles .x-dataview-tab-title{
	max-width: 240px;
	word-wrap: break-word;
}

.scalr-ui-panel-account-roles .x-dataview-tab table td{
    width: auto;
}

.scalr-ui-panel-account-roles .x-dataview-tab-param-title{
	width:125px;
}

.scalr-ui-panel-account-roles .x-dataview-tab-param-value{
	word-wrap:break-word;
	max-width:130px;
}

.scalr-ui-panel-account-roles .x-permission-warn{
    color: #7d270b;
}

.scalr-ui-panel-account-roles .x-full-access{
    font-weight: bold;
    color: #008000;
}

.scalr-ui-panel-account-roles .x-no-access{
    font-weight: bold;
    color: #c00000;
}

.scalr-ui-panel-account-roles .x-limited-access{
    font-weight: bold;
    color: #337dce;
}