.scalr-ui-dnszone-form .x-grid-row-editor-buttons {
	visibility: hidden;
	height: 0!important;
	overflow: hidden;
	padding: 0;
}

.scalr-ui-dnszone-form .x-grid-cell-inner {
    padding-top: 8px;
    padding-bottom: 8px;
}

.scalr-ui-dnszone-form  .x-grid-row-editor-wrap {
    margin-top: 4px;
}

.scalr-ui-dnszone-form .x-grid-row-editor .x-panel-body {
    background: #fff;
}

.x-grid-row-editor .x-field {
    margin: 0 4px;
}

.x-grid-row-editor .x-form-text {
    padding-left: 11px;
}