pytz
docopt
boto==2.34.0
pyyaml==3.11
gevent==1.0.1
psutil==2.1.1
pymysql==0.6.2
httplib2
cherrypy==3.2.6
requests==2.4.1
python-rrdtool==1.4.7
m2crypto
pycrypto
git+git://github.com/pyca/pyopenssl.git@master
apache-libcloud==0.15.1
google-api-python-client==1.3

