pytz
docopt
boto==2.38.0
pyyaml==3.11
gevent==1.0.1
psutil==3.2.2
pymysql==0.6.7
httplib2
cherrypy==3.8.0
requests==2.8.1
python-rrdtool==1.4.7
m2crypto
pycrypto
git+git://github.com/pyca/pyopenssl.git@master
apache-libcloud==0.17.0
google-api-python-client==1.3
