oauth2client==2.0.1
pytz
docopt
boto==2.39.0
pyyaml==3.11
gevent==1.0.2
psutil==3.2.2
pymysql==0.7.1
httplib2
cherrypy==5.0.1
urllib3>=1.14
requests>=2.9.1
PySocks==1.5.6
python-rrdtool==1.4.7
m2crypto
pycrypto
git+git://github.com/pyca/pyopenssl.git@master
apache-libcloud==0.20.1
google-api-python-client==1.5.0
