/*roleslibrary special tabs styles*/
.x-btn-tab-quickstart{
    border-radius: 3px 0 0 3px!important;
    margin-bottom: 12px;
}

.x-btn-tab-quickstart .x-btn-inner{
    color: #176F2B;
}

.x-btn-tab-small .delete-search{
    position:absolute;
    width:10px;
    height:11px;
    right:3px;
    top:4px;
    background: url("/ui2/images/ui/farms/selroles/close_small.png") 0 0 no-repeat;
}

/*add role form*/
.scalr-ui-roleslibrary .inner-container{
    background: #e6e8ec;
    border-radius: 4px;
    margin: 12px 0 0 0;
    padding: 18px 18px 6px;
}

/*custom roles grid*/
.scalr-ui-roleslibrary .scalr-ui-roleslist .x-grid-cell-inner{
    line-height:26px;
    height: 26px;
    padding: 0;
}

.scalr-ui-roleslibrary .scalr-ui-roleslist .x-icon-platform-small,
.scalr-ui-roleslibrary .scalr-ui-roleslist .x-icon-osfamily-small{
    margin: 4px 4px 0;
    opacity:.4;
}

.scalr-ui-roleslibrary .scalr-ui-roleslist .x-icon-osfamily-small{
    margin: 4px 12px 0;
}

.scalr-ui-roleslibrary .scalr-ui-roleslist .x-icon-role-small{
    margin: 4px 10px 0 8px;
}

.scalr-ui-roleslibrary .scalr-ui-roleslist .x-grid-row-focused .x-icon-platform-small,
.scalr-ui-roleslibrary .scalr-ui-roleslist .x-grid-row-focused .x-icon-osfamily-small,
.scalr-ui-roleslibrary .scalr-ui-roleslist .x-grid-row-over .x-icon-platform-small,
.scalr-ui-roleslibrary .scalr-ui-roleslist .x-grid-row-over .x-icon-osfamily-small{
    opacity:1;
}

/*nothing found text*/
.scalr-ui-roleslibrary .emptytext{
    text-align: center;
    padding: 20px 20px 0;
    color: #666;
    font: 13px/19px arial;
}

.scalr-ui-roleslibrary .emptytext .title{
    font: 18px/30px arial;
    color: #202B3D;
    text-shadow: 0 1px rgba(255, 255, 255, 0.3);
    margin-bottom: 12px;
}

.scalr-ui-roleslibrary .x-items-extra{
    position:relative;
    margin-left:50%;
    left:-137px;
    float:left;
    width: 300px;
    height: 130px;
}

.scalr-ui-roleslibrary .x-items-extra.single{
    left:-61px;
}

.scalr-ui-roleslibrary .x-item-extra{
	width:100px;
	height:100px;
	background: #fff;
	border-radius: 4px;
	text-align:center;
	float:left;
	margin:0 10px 10px 0;
	overflow:hidden;
    padding:0;
}

.scalr-ui-roleslibrary .x-item-extra:hover{
    text-decoration:none;
    background:#F9FAFB;
}

.scalr-ui-roleslibrary .x-item-extra .x-item-inner{
    display: block;
}

.scalr-ui-roleslibrary .x-item-extra .icon{
    display: block;
    margin-bottom: 2px;
}

.scalr-ui-roleslibrary .x-item-extra .title{
    font-size:12px;
    font-weight:normal;
}

.scalr-ui-roleslibrary .x-item-extra-delimiter{
    float:left;
    height: 100px;
    line-height:100px!important;
    width: 30px;
    margin:0 12px 12px 0;
}

/*roles filter*/
.scalr-ui-roleslibrary-filter .x-filterfield-btn{
    width: 30px;
    box-shadow: none;
}

.scalr-ui-roleslibrary-filter .x-filterfield-btn .x-filterfield-btn-inner{
    width: 30px;
    margin: 0;
}

.scalr-ui-roleslibrary-filter .x-filterfield-btn:hover{
    background-color: #c9d2dc;
}

.scalr-ui-roleslibrary-filter .x-btn-split-right{
    padding-right: 26px;
    padding-left: 0;
}

.scalr-ui-roleslibrary-filter .x-btn-icon-el{
    display: none;
}

.scalr-ui-roleslibrary-filter .x-btn-inner img{
    vertical-align:top;
    position:relative;
    left: 4px;
}