.scalr-ui-farmbuilder-roleedit-tab,
.scalr-ui-farmbuilder-roleedit-tab .x-panel-column-left,
.scalr-ui-farmbuilder-roleedit-tab .x-panel-body-default{
    box-shadow: 0 1px rgba(255, 255, 255, 0.4) inset;
}

.scalr-ui-farmbuilder-roleedit .inner-container{
    background: #f0f1f4;
    border-radius: 4px;
    margin: 12px 0;
    padding: 18px 18px 6px;
}

.scalr-ui-farmbuilder-roleedit .daily-rate {
    text-align: center;
    font-size: 16px;
    margin: 30px 0 12px;
    font-weight: bold;
}

.scalr-ui-farmbuilder-roleedit .daily-rate .small{
    font-size: 13px;
}

.scalr-ui-farmbuilder-roleedit .hourly-rate {
    text-align: center;
    font-size: 12px;
}

/*main tab collapse button*/
.x-btn-collapse .x-btn-inner {
	width: 21px;
	height: 21px;
	background: url('/ui2/js/extjs-4.2/theme/images/icon/collapse-sprite.png') no-repeat 0 0;
	cursor: pointer;
}

.x-btn-collapse.x-btn-pressed .x-btn-inner {
	background-position: 0px -21px;
}

.x-btn-collapse.x-btn-over .x-btn-inner {
	opacity: .8;
}

.scalr-ui-farmbuilder-roleedit-tab > .x-mask{
    opacity: 1;
    background:#DFE4EA;
}

.scalr-ui-farmbuilder-roleedit-tab > .x-mask-error div{
    background-image: none;
    padding-left:10px;
}

.scalr-ui-farmbuilder-roleedit-tab .x-container .x-mask{
    background: transparent;
}

.x-comboradiolist .x-menu-item-disabled-forced .x-menu-item-text{
    padding-right: 20px;
    background: url('/ui2/js/extjs-4.2/theme/images/form/trigger-warning.png') 100% 50% no-repeat;
}

.scalr-ui-farmbuilder-roleedit .x-icon-replace{
    background: url('/ui2/images/ui/farms/roleedit/replace.png') 50% 50% no-repeat;
}

.scalr-ui-farmbuilder-roleedit .x-overflow-ellipsis{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    line-height:20px
}

/*cost metering*/
.scalr-ui-costmetering-hours .title{
    margin: 8px 0 4px;
    font-weight: bold;
    font-size: 120%;
}

.scalr-ui-costmetering-hours table{
    border-collapse: collapse;
}

.scalr-ui-costmetering-hours table td{
    text-align: center;
    padding: 0 16px;
}

.scalr-ui-costmetering-farmroles table{
    margin-top: 4px;
    border-collapse: collapse;
}

.scalr-ui-costmetering-farmroles table th,
.scalr-ui-costmetering-farmroles table td{
    text-align: left;
    white-space: nowrap;
    padding: 4px 24px 0 0;
}

.scalr-ui-costmetering-farmroles table td:last-child,
.scalr-ui-costmetering-farmroles table th:last-child{
    padding-right: 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
        
    .scalr-ui-farmbuilder-roleedit .x-icon-replace{
        background-size: 30px 20px;
        background-image: url('/ui2/images/ui/farms/roleedit/replace-retina.png');
    }

    .x-btn-collapse .x-btn-inner {
        background-size: 21px 42px;
        background-image: url('/ui2/js/extjs-4.2/theme/images/icon/collapse-sprite-retina.png');
    }

}