/*farm roles filter toolbar*/
.scalr-ui-selroles-filter{
    z-index:3;
	background-color:#f0f1f4;
    box-shadow: 0 1px #DBDFE6 inset;
}

/*boxes dataview selroles*/
.scalr-ui-dataview-selroles{
    background: #f0f1f4;
}

.scalr-ui-dataview-selroles .x-item{
    margin-bottom:12px;
}

.scalr-ui-dataview-selroles .x-item:last-child{
	margin-bottom:160px;
}

.scalr-ui-dataview-selroles .x-item-inner{
    padding: 5px 3px 3px;
    position:relative;
    z-index:2;
}

.scalr-ui-dataview-selroles .x-item .name{
    white-space:nowrap;
    margin:0 auto 2px;
}

.scalr-ui-dataview-selroles .platform, 
.scalr-ui-dataview-selroles .location{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    font-size:90%;
}

.scalr-ui-dataview-selroles .x-item-selected .platform, 
.scalr-ui-dataview-selroles .x-item-selected .location{
	color:#fff;
}

.scalr-ui-dataview-selroles .platform{
	text-transform:uppercase;
    line-height:14px;
}

.scalr-ui-dataview-selroles .location{
    font-style:italic;
    color:#777;
}

/*launch index*/
.scalr-ui-dataview-selroles .launchindex{
	display:none;
	position:absolute;
    z-index: 1;
	bottom:-10px;
	left:-9px;
	font-weight:bold;
	width:24px;
    height:25px;
    line-height:25px;
    text-align:center;
    background: url('/ui2/images/ui/farms/selroles/role_number_sprite.png?1.3') 0 0 no-repeat;
}

.scalr-ui-dataview-selroles .x-item-over .launchindex{
    background-position:0 -25px;
}

.scalr-ui-dataview-selroles .x-item-selected .launchindex{
    background-position:0 -50px;
}

.scalr-ui-dataview-selroles .x-item-invalid .launchindex{
    background-position:0 -75px;
}

.scalr-ui-dataview-selroles .x-item-invalid.x-item-selected .launchindex{
    background-position:0 -125px;
}

.scalr-ui-dataview-selroles-sortable .launchindex{
	display:block;
}

/*delete role button*/
.scalr-ui-dataview-selroles .delete-role-bg,
.scalr-ui-dataview-selroles .delete-role{
	position: absolute;
    z-index: 1;
	right: -10px;
	top: -9px;
	width: 24px;
	height: 24px;
    cursor:pointer;
    background: url('/ui2/images/ui/farms/selroles/close_bg.png?1.3') 0 0 no-repeat;
    visibility:hidden;
}

.scalr-ui-dataview-selroles .delete-role{
    background: url('/ui2/images/ui/farms/selroles/close_small_sprite.png?1.2') 0 0 no-repeat;
    z-index: 2;
}

.scalr-ui-dataview-selroles .x-item-over .delete-role-bg,
.scalr-ui-dataview-selroles .x-item-over .delete-role{
	visibility:visible;
}


.scalr-ui-dataview-selroles .delete-role:hover{
    background-position: 0 -24px;
}

.scalr-ui-dataview-selroles .x-item-selected .delete-role-bg{
	background-position: 0 -24px;
}

.scalr-ui-dataview-selroles .x-item-invalid .delete-role-bg{
	background-position: 0 -48px;
}

.scalr-ui-dataview-selroles .x-item-selected.x-item-invalid .delete-role-bg{
	background-position: 0 -72px;
}

.scalr-ui-dataview-selroles .x-item-selected .delete-role{
	background-position: -24px 0;
}

.scalr-ui-dataview-selroles .x-item-selected .delete-role:hover{
    background-position: -24px -24px;
}

/*add role flying button*/
.scalr-ui-dataview-selroles-add{
	width: 112px;
	height: 150px;
	text-align: center;
	font: bold 13px/20px arial;
	color: #49634C;
	position:absolute;
	padding-left:10px;
	bottom:0px;
	background:#f0f1f4;
    z-index:3;
}

.scalr-ui-dataview-selroles-add .x-item-inner{
	height:100px;
	margin:3px 0 12px;
	border-radius: 4px;
    background: #E1ECDD;
	border: 2px dashed #E1ECDD;
    cursor:pointer;
}

.scalr-ui-dataview-selroles-add span{
	display:block;
	margin-top:25px;
}

.scalr-ui-dataview-selroles-add .x-item-inner:hover{
	background: #E4EEDF;
    border: 2px solid #E4EEDF;
}

.scalr-ui-dataview-selroles-add.x-disabled .x-item-inner{
    background-color: #E4E4E4;
    color:#555555;
    cursor: default;
    border: 2px solid #E4E4E4;
}

/*farm settings button*/
.scalr-ui-farm-settings-btn{
	border-radius:0;
    position:relative;
    z-index:4;
}

.scalr-ui-farm-settings-btn .x-btn-icon-el{
	left: 2px;
	top: 3px;
}

/*color corner*/
.x-item-color-corner-role{
    width:15px;
    height:15px;
    box-shadow:none;
    opacity:.8;
    visibility:hidden;
}

.scalr-ui-show-color-corners .x-item-color-corner-role{
    visibility:visible;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {

    .scalr-ui-dataview-selroles .delete-role-bg,
    .scalr-ui-dataview-selroles .delete-role{
        background-image: url('/ui2/images/ui/farms/selroles/close_bg_retina.png?1.1');
        background-size: 24px 96px;
    }

    .scalr-ui-dataview-selroles .delete-role {
        background-image: url('/ui2/images/ui/farms/selroles/close_small_sprite_retina.png?1.1');
        background-size: 48px 48px;
    }

    .scalr-ui-dataview-selroles .launchindex{
        background-image: url('/ui2/images/ui/farms/selroles/role_number_sprite_retina.png?1.1');
        background-size: 24px 150px;
    }
}