.scalr-ui-panel-account-teams .x-dataview-tab{
    min-height:120px;
}

.scalr-ui-panel-account-teams .x-dataview-tab-param-title{
	width:50px;
}

.scalr-ui-panel-account-teams .x-dataview-tab-param-value{
	word-wrap:break-word;
	max-width:130px;
}

.scalr-ui-panel-account-teams .team-add-remove{
	display:none;
	cursor:pointer;
}

.scalr-ui-panel-account-teams .x-grid-row-over .team-add-remove,
.scalr-ui-panel-account-teams .x-grid-row-selected .team-add-remove{
	display:inline;
}

/*access control column*/
.scalr-ui-panel-account-teams .user-permission{
	font-weight:bold;
}

.scalr-ui-panel-account-teams .x-grid-cell-inner{
	position:relative;
}

.scalr-ui-panel-account-teams .x-grid-row-options{
	display:none;
	position:absolute;
	top:2px;
	right:10px;
    height: 20px;
    width: 48px;
    background: #f9f9f9;
    border-radius: 2px;
}

.scalr-ui-panel-account-teams .x-grid-row-over .x-grid-row-options,
.scalr-ui-panel-account-teams .x-grid-row-selected .x-grid-row-options{
	display:block;
}

.scalr-ui-panel-account-teams .x-grid-row-options:hover{
    background: #fff;
}

.scalr-ui-panel-account-teams .x-grid-row-options-icon{
	width:32px;
	height:20px;
	background:url("/ui2/images/ui/account/manage_access.png") 0 0 no-repeat;
    margin: 0 auto;
}
