.x-grid-role-scripting .x-grid-row-system{
	color:#999;
}

.x-grid-role-scripting .x-grid-row .x-grid-cell-inner {
    padding-bottom: 0;
}

.x-grid-role-scripting .x-grid-rowbody{
	font-size: 90%;
	line-height: 16px;
    padding:0;
}