.scalr-ui-role-edit-icon{
    background: url('/ui2/images/ui/roles/edit/tab-icon-sprite.png?1.1') 0 0 no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {

    /*roles/edit2*/
    .scalr-ui-role-edit-icon{
        background-size: 160px 325px;
        background-image: url('/ui2/images/ui/roles/edit/tab-icon-sprite-retina.png?1.1');
    }
}

.scalr-ui-role-edit-icon-overview{
    background-position: 0 0;
}

.x-btn-pressed .scalr-ui-role-edit-icon-overview{
    background-position: -80px 0;
}

.scalr-ui-role-edit-icon-images{
    background-position: 0 -65px;
}

.x-btn-pressed .scalr-ui-role-edit-icon-images{
    background-position: -80px -65px;
}

.scalr-ui-role-edit-icon-scripting{
    background-position: 0 -130px;
}

.x-btn-pressed .scalr-ui-role-edit-icon-scripting{
    background-position: -80px -130px;
}

.scalr-ui-role-edit-icon-variables{
    background-position: 0 -195px;
}

.x-btn-pressed .scalr-ui-role-edit-icon-variables{
    background-position: -80px -195px;
}

.scalr-ui-role-edit-icon-chef{
    background-position: 0 -260px;
}

.x-btn-pressed .scalr-ui-role-edit-icon-chef{
    background-position: -80px -260px;
}