/*cost analisys box*/
.x-costanalytics .x-link-warning{
    text-decoration:underline;
    color: #b06235;
    line-height: 20px;
}

.x-costanalytics .x-link-warning:hover{
    color: #df6d2c;
}

.x-costanalytics .x-dataview-tab-archived{
    opacity: .6;
}

.x-costanalytics .x-filterfield-btn{
    width: 32px;
}

.x-costanalytics .x-filterfield-btn .x-filterfield-btn-inner{
    margin-left: 2px;
}

.x-costanalytics .x-docked-summary-bottom{
    border: 0;
}

.x-costanalytics .x-docked-summary-bottom .x-grid-cell-inner{
    font-weight: bold;
    line-height: 24px;
}

.x-costanalytics .bar-wrapper{
    background: #d6dbe7;
    border-radius: 3px;
    overflow: hidden;
}

.x-costanalytics .bar-inner{
    font: bold 12px/18px arial, helvetica, sans-serif;
    color: #fff;
    background: #89afda;
    text-align: right;
    border-radius: 3px;
    min-width: 3px;
    text-shadow: #2e6eaf 0.1em 0.1em 0.1em;
}

.x-costanalytics .bar-wrapper .bar-inner{
    border-radius: 0;
    text-shadow: none;
}

.x-costanalytics .bar-inner span{
    padding: 0 4px;
}

.x-costanalytics-red{
    color: #de1810;
}
.x-costanalytics-green{
    color: #319608;
}

.x-costanalytics-orange{
    color: #ffae39;
}

.x-costanalytics-bg-red{
    background-color: #D81911!important;
}
.x-costanalytics-bg-green{
    background-color: #499E28!important;
}

.x-costanalytics-bg-orange{
    background-color: #F5AD14!important;
}

/*cost distribution*/
.x-costanalytics-bg-compute{
    background-color: #8cbd6f!important;
}
.x-costanalytics-bg-storage{
    background-color: #b873e1!important;
}

.x-costanalytics-bg-bandwidth{
    background-color: #eeb053!important;
}

.x-costanalytics-bg-other{
    background-color: #518dca!important;
}

.x-costanalytics-compute{
    color: #8cbd6f;
}
.x-costanalytics-storage{
    color: #b873e1;
}

.x-costanalytics-bandwidth{
    color: #eeb053;
}

.x-costanalytics-other{
    color: #518dca;
}

.x-caheader{
    font: normal 18px arial, helvetica, sans-serif;
}

/*caboxes*/
.x-cabox{
    color: #212b3d;
    text-align: center;
    padding: 16px 20px;
    border: 1px solid #edf2f6;
    border-right: 0;
    border-top: 0;
}

.x-cabox:first-child{
    border-left: 0;
    border-right: 0
}

.x-cabox:last-child{
    border-right: 0
}

.x-cabox .x-cabox-title{
    font-weight: bold;
    line-height: 38px;
    height: 38px;
    background-color: #f3f4f8;
    border-radius: 3px;
    padding: 0 16px;
    text-transform: uppercase;
}

.x-cabox .title1{
    font: bold 22px arial, helvetica, sans-serif;
}

.x-cabox .title2{
    font: bold 16px/18px arial, helvetica, sans-serif;
}

.x-cabox table{
    border-collapse:collapse;
    width:100%;
}

.x-cabox table td{
    padding: 0;
}

.x-cabox .x-cabox-top td{
    text-align:left;
    padding-top: 6px;
}

.x-cabox .x-cabox-top a{
    color: #212b3d;
    text-decoration: none;
}

.x-cabox .x-cabox-top a:hover .link{
    text-decoration: underline;
    color: #438bdc;
}

.x-cabox .x-cabox-distribution td{
    text-align:left;
    padding-top: 19px;
}

.x-cabox .x-cabox-distribution tr:first-child td{
    padding-top: 6px;
}

.x-cabox-transparent{
    text-align: left;
    padding: 16px 0;
}

.x-cabox-transparent .x-cabox-title{
    padding: 0;
    background: transparent;
}

/*dashboard cabox*/
.x-cabox2{
    color: #212b3d;
    text-align: center;
    border-radius: 3px;
    background: #f0f1f4;
}

.x-cabox2 .x-cabox-title{
    font-weight: bold;
    line-height: 35px;
    height: 35px;
    border-radius: 3px 3px 0 0;
    background: #d5dee6;
    padding: 0;
    box-shadow: 0 -1px #ced9e1 inset;
    text-transform: uppercase;
}

.x-cabox2 .x-item{
    text-align: left;
    padding: 11px 10px 12px 12px;
    border-left: 1px solid #e2e8ee;
    border-bottom: 1px solid #e2e8ee;
}

.x-cabox2 .x-item .x-icon-platform-small{
    margin: 12px 4px 0 0;
}

.x-cabox2 .title1{
    font: bold 22px arial, helvetica, sans-serif;
}

.x-cabox2 .title2{
    font: bold 16px/18px arial, helvetica, sans-serif;
}

.x-cabox2 .title2 .small{
    font-size: 80%;
    font-weight: normal;
}

.x-cabox2 .title3{
   font-weight:bold;
   margin-bottom: 4px;
   height: 18px;
}

.x-cabox2 .x-cabox-title .separator-right{
    border-right: 1px solid #c4d3e0;
}

.x-cabox2 .separator-right{
    border-right: 1px solid #e2e8ee;
}

.x-cabox2 .separator-bottom{
    border-bottom: 1px solid #e2e8ee;
}

.x-cabox2 .x-quarter-box {
    background: #fffbff;
    border-radius: 3px;
    border-color: #eff3f7;
}

.x-cabox2 .x-quarter-box.current {
    background: #dee7ef;
}

.x-cabox2 .x-quarter-box.current .separator-right,
.x-cabox2 .x-quarter-box.current .separator-bottom{
    border-color: #d6dbe7;
}


.x-cabox3{
    color: #212b3d;
    text-align: center;
    background: #f0f1f4;
}

.x-cabox3:first-child{
    border-radius: 3px 0 0 3px;
    border-right: 1px solid #e2e8ee;
}

.x-cabox3:last-child{
    border-radius: 0 3px 3px 0;
    border-left: 1px solid #e2e8ee;
}

.x-cabox3 .x-cabox-title{
    font-weight: bold;
    line-height: 35px;
    height: 35px;
    border-radius: 3px;
    background: #e4e9f0;
    padding: 0;
    text-transform: uppercase;
}

.x-cabox3 table{
    border-collapse:collapse;
    width: 100%;
}

.x-cabox3 table td{
    padding: 0;
    text-align: left;
    vertical-align: top;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.x-cabox3 table a{
    color: #212b3d;
    text-decoration: none;
}

.x-cabox3 table a:hover .link{
    text-decoration: underline;
    color: #438bdc;
}

.x-cabox3 .x-top5-item td{
    height: 64px;
}

.x-costanalytics-icon-line-chart{
    width: 45px;
    height: 26px;
    background-image: url(/ui2/images/ui/analytics/line-chart.png);
    background-repeat: no-repeat;
    background-position: center 0;
}

.x-costanalytics-icon-line-chart.x-btn-pressed{
    background-position: center -26px;
}

.x-costanalytics-icon-bars-chart{
    width: 45px;
    height: 26px;
    background-image: url(/ui2/images/ui/analytics/bars-chart.png);
    background-repeat: no-repeat;
    background-position: center 0;
}

.x-costanalytics-icon-bars-chart.x-btn-pressed{
    background-position: center -26px;
}

.x-costanalytics-icon-pie-chart{
    width: 45px;
    height: 26px;
    background-image: url(/ui2/images/ui/analytics/pie-chart.png);
    background-repeat: no-repeat;
    background-position: center 0;
}

.x-costanalytics-icon-pie-chart.x-btn-pressed{
    background-position: center -26px;
}

.x-costanalytics-icon-grid{
    width: 45px;
    height: 26px;
    background-image: url(/ui2/images/ui/analytics/grid.png);
    background-repeat: no-repeat;
    background-position: center 0;
}

.x-costanalytics-icon-grid.x-btn-pressed{
    background-position: center -26px;
}

.x-costanalytics-icon-share-mode{
    background-image: url(/ui2/images/ui/analytics/share-mode.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 22px;
    height: 23px;
}

.x-costanalytics-icon-share-mode-0{
    background-position: 0 0;
}

.x-costanalytics-icon-share-mode-1{
    background-position: 0 -46px;
}

.x-costanalytics-icon-share-mode-2{
    background-position: 0 -69px;
}

.x-costanalytics-icon-share-mode-3{
    background-position: 0 -23px;
}

/*colored buttons*/
/*FD8D11*/
.x-costanalytics-FD8D11,
.x-panel-column-left .x-costanalytics-FD8D11{
    background-color: #FDD386;
}

.x-costanalytics-FD8D11.x-btn-default-small-over{
    background-color: #FDDA99;
}

.x-costanalytics-FD8D11.x-btn-default-small-pressed{
    background-color: #DF5900;
    box-shadow: 0 1px 1px #802900 inset;
}

.x-costanalytics-FD8D11.x-btn-default-small-disabled{
    background-color: #d6d8db;
}

/*D316CF*/
.x-costanalytics-D316CF,
.x-panel-column-left .x-costanalytics-D316CF{
    background-color: #F0B8F1;
}

.x-costanalytics-D316CF.x-btn-default-small-over{
    background-color: #F2C7F3;
}

.x-costanalytics-D316CF.x-btn-default-small-pressed{
    background-color: #B836BE;
    box-shadow: 0 1px 1px #64025F inset;
}

.x-costanalytics-D316CF.x-btn-default-small-disabled{
    background-color: #d6d8db;
}
/*0069D2*/
.x-costanalytics-0069D2,
.x-panel-column-left .x-costanalytics-0069D2{
    background-color: #91C8FF;
}

.x-costanalytics-0069D2.x-btn-default-small-over{
    background-color: #A4D1FF;
}

.x-costanalytics-0069D2.x-btn-default-small-pressed{
    background-color: #468CF7;
    box-shadow: 0 1px 1px #00376F inset;
}

.x-costanalytics-0069D2.x-btn-default-small-disabled{
    background-color: #d6d8db;
}

/*B56F04*/
.x-costanalytics-B56F04,
.x-panel-column-left .x-costanalytics-B56F04{
    background-color: #F0C98E;
}

.x-costanalytics-B56F04.x-btn-default-small-over{
    background-color: #F2D19F;
}

.x-costanalytics-B56F04.x-btn-default-small-pressed{
    background-color: #965505;
    box-shadow: 0 1px 1px #5A2301 inset;
}

.x-costanalytics-B56F04.x-btn-default-small-disabled{
    background-color: #d6d8db;
}

/*0C7509*/
.x-costanalytics-0C7509,
.x-panel-column-left .x-costanalytics-0C7509{
    background-color: #ABD7AA;
}

.x-costanalytics-0C7509.x-btn-default-small-over{
    background-color: #BCDFBB;
}

.x-costanalytics-0C7509.x-btn-default-small-pressed{
    background-color: #0BA616;
    box-shadow: 0 1px 1px #034309 inset;
}

.x-costanalytics-0C7509.x-btn-default-small-disabled{
    background-color: #d6d8db;
}
/*65A615*/
.x-costanalytics-65A615,
.x-panel-column-left .x-costanalytics-65A615{
    background-color: #C7E2A0;
}

.x-costanalytics-65A615.x-btn-default-small-over{
    background-color: #CFE7AD;
}

.x-costanalytics-65A615.x-btn-default-small-pressed{
    background-color: #64A220;
    box-shadow: 0 1px 1px #2D5302 inset;
}

.x-costanalytics-65A615.x-btn-default-small-disabled{
    background-color: #d6d8db;
}
/*05A4D8*/
.x-costanalytics-05A4D8,
.x-panel-column-left .x-costanalytics-05A4D8{
    background-color: #B4DDEB;
}

.x-costanalytics-05A4D8.x-btn-default-small-over{
    background-color: #C2E4EF;
}

.x-costanalytics-05A4D8.x-btn-default-small-pressed{
    background-color: #24A9D5;
    box-shadow: 0 1px 1px #024D75 inset;
}

.x-costanalytics-05A4D8.x-btn-default-small-disabled{
    background-color: #d6d8db;
}
/*DD0202*/
.x-costanalytics-DD0202,
.x-panel-column-left .x-costanalytics-DD0202{
    background-color: #FFC6BB;
}

.x-costanalytics-DD0202.x-btn-default-small-over{
    background-color: #FFCEC6;
}

.x-costanalytics-DD0202.x-btn-default-small-pressed{
    background-color: #CA2C15;
    box-shadow: 0 1px 1px #771609 inset;
}

.x-costanalytics-DD0202.x-btn-default-small-disabled{
    background-color: #d6d8db;
}
/*3691F3*/
.x-costanalytics-3691F3,
.x-panel-column-left .x-costanalytics-3691F3{
    background-color: #BFDCFB;
}

.x-costanalytics-3691F3.x-btn-default-small-over{
    background-color: #C9E1FC;
}

.x-costanalytics-3691F3.x-btn-default-small-pressed{
    background-color: #66ABF7;
    box-shadow: 0 1px 1px #074283 inset;
}

.x-costanalytics-3691F3.x-btn-default-small-disabled{
    background-color: #d6d8db;
}
/*555555*/
.x-costanalytics-555555,
.x-panel-column-left .x-costanalytics-555555{
    background-color: #AAAAAA;
}

.x-costanalytics-555555.x-btn-default-small-over{
    background-color: #BBBBBB;
}

.x-costanalytics-555555.x-btn-default-small-pressed{
    background-color: #666666;
    box-shadow: 0 1px 1px #000000 inset;
}

.x-costanalytics-555555.x-btn-default-small-disabled{
    background-color: #d6d8db;
}
/*6262E8*/
.x-costanalytics-6262E8,
.x-panel-column-left .x-costanalytics-6262E8{
    background-color: #CCCEEE;
}

.x-costanalytics-6262E8.x-btn-default-small-over{
    background-color: #D5D6F0;
}

.x-costanalytics-6262E8.x-btn-default-small-pressed{
    background-color: #7378DF;
    box-shadow: 0 1px 1px #141478 inset;
}

.x-costanalytics-6262E8.x-btn-default-small-disabled{
    background-color: #d6d8db;
}
/*spend details*/
.x-costanalytics-details-header{
    background: #fff;
    border-radius: 3px 3px 0 0;
    margin: 12px 0 0 0;
    border-bottom: 1px solid #f3f5f8;
}

.x-costanalytics-details{
    background: #fff;
    border-radius: 0 0 3px 3px;
}

.x-costanalytics-details-header table,
.x-costanalytics-details table{
    border-collapse: collapse;
    width: 100%;
    max-width: 1100px;
    table-layout: fixed;
}

.x-costanalytics-details-header td,
.x-costanalytics-details td{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    padding: 0 0 0 32px;
}

.x-costanalytics-details .x-empty{
    text-align: center;
    color: #999;
}

.x-costanalytics-details-header .title td{
    height: 34px;
    vertical-align: bottom;
    padding-bottom: 6px;
}

.x-costanalytics-details-header td.title{
    vertical-align: middle;
    font-weight: bold;
    font-size: 13px;
    padding-top: 8px;
}

.x-costanalytics-details-header .value td{
    vertical-align: top;
    font-weight: bold;
    font-size: 13px;
    height: 30px;
}

.x-costanalytics-details td{
    padding: 10px 0 10px 32px;
}

.x-costanalytics-details a{
    color: #212b3d;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {

    .x-costanalytics-icon-line-chart{
        background-size: 35px 52px;
        background-image: url(/ui2/images/ui/analytics/line-chart.png);
    }
    
    .x-costanalytics-icon-bars-chart{
        background-size: 35px 52px;
        background-image: url(/ui2/images/ui/analytics/bars-chart.png);
    }

    .x-costanalytics-icon-pie-chart{
        background-size: 35px 52px;
        background-image: url(/ui2/images/ui/analytics/pie-chart.png);
    }

    .x-costanalytics-icon-grid{
        background-size: 35px 52px;
        background-image: url(/ui2/images/ui/analytics/grid.png);
    }

    .x-costanalytics-icon-share-mode{
        background-size: 22px 92px;
        background-image: url(/ui2/images/ui/analytics/share-mode-retina.png);
    }
}
