.scalr-ui-dashboard-panel .x-grid-empty {
	font-size: 18px;
	background-color: #f0f1f4;

	text-align: center;
	padding: 30px;
}

.scalr-ui-dashboard-panel .x-error {
    color: red;
}

.scalr-ui-dashboard-container .x-mask {
	background: #f0f1f4;
	opacity: 1;
}

.scalr-ui-dashboard-container .x-mask-msg {
    background: #f0f1f4;
}

.scalr-ui-dashboard-container .x-mask-msg-text {
	font: 18px Arial bold;
	color: #666;
    padding: 12px 5px 12px 55px;
    background: url('/ui2/images/ui/dashboard/load_widget.gif?1.0') no-repeat;
}


.scalr-ui-dashboard-widgets-billing label.x-form-item-label {
	font-weight: bold;
	text-shadow: none;
	color: #333;
}

/* Cloudyn */
.scalr-ui-dashboard-widgets-cloudyn .x-grid-row:nth-of-type(even) {
    background-color: #E6F2EE;
}

.scalr-ui-dashboard-widgets-cloudyn .x-grid-row.x-grid-row-over {
    background-color: #E6E6E6;
}

.scalr-ui-dashboard-widgets-cloudyn .x-grid-row {
	height: 40px;
}

.scalr-ui-dashboard-widgets-cloudyn .x-grid-row .x-grid-cell {
    padding: 7px 0;
}

.scalr-ui-dashboard-widgets-cloudyn .x-grid-row td.bold {
	font: 13px arial, sans-serif;
	color: #333333;
}

.scalr-ui-dashboard-widgets-cloudyn .x-grid-row td.border div {
	background: #84B845;
	border-radius: 3px;
	margin-right: 12px;
    margin-left: 12px;
	color: white;
}



.scalr-ui-dashboard-container {
	min-height: 200px;
	border: none;
}

.scalr-ui-dashboard-container-dd div.editpanel {
	display: none;
}

.scalr-ui-dashboard-container div.editpanel div.remove, .scalr-ui-dashboard-container div.editpanel div.add{
	visibility: hidden;
	display: inline;
	float: left;
	font: bold 18px Arial;
	text-decoration: none;
	padding: 16px;
	background-color: #DFE4EA;
    border-radius: 3px;
    opacity: 0.8;
}

.scalr-ui-dashboard-container div.editpanel {
	display: none;
}

.scalr-ui-dashboard-container div.editpanel div.add, .scalr-ui-dashboard-container div.editpanel div.remove {
	overflow: hidden;
}

.scalr-ui-dashboard-container-over div.editpanel, .scalr-ui-dashboard-container-over-empty div.editpanel {
	display: block;
}

.scalr-ui-dashboard-container-over-empty div.editpanel  div.add:hover, .scalr-ui-dashboard-container-over-empty div.editpanel  div.remove:hover, .scalr-ui-dashboard-container-over div.editpanel div.add:hover{
	opacity: 0.7;
}

.scalr-ui-dashboard-container-over div.editpanel div.add {
	width: 100%;
	visibility: visible;
	cursor: pointer;
	border-radius: 0 0 6px 6px;
}

.scalr-ui-dashboard-container-over-empty div.editpanel div.remove, .scalr-ui-dashboard-container-over-empty div.editpanel div.add {
	width: 50%;
	visibility: visible;
	cursor: pointer;
}

.scalr-ui-dashboard-container-over-empty div.editpanel div.add {
	border-radius: 0 0 0px 6px;
}

.scalr-ui-dashboard-container-over-empty div.editpanel div.remove {
	width: 49%;
	margin-left: 2px;
	border-radius: 0 0 6px 0px;
}

.scalr-ui-dashboard-icon-add-widget {
	background: url('/ui2/images/ui/dashboard/widgets_control_sprite.png?1.0') no-repeat 0 0;
	height: 24px;
	width: 24px;
}

.scalr-ui-dashboard-icon-remove-column {
	background: url('/ui2/images/ui/dashboard/widgets_control_sprite.png?1.0') no-repeat 0 -24px;
	height: 24px;
	width: 24px;
}


.scalr-ui-dashboard-panel .x-panel-dd-spacer {
	border: 2px dashed #A9BCD8;
	border-radius: 4px;
	margin-bottom: 5px;
}

.scalr-ui-dashboard-widgets-div {
	width: 100%;
	padding: 5px 5px 5px 12px;
	overflow-x: hidden;
	overflow-y: hidden;
	background: #ffffff;
}

.scalr-ui-dashboard-widgets-div:nth-of-type(even) {
    background-color: #F4F4F4;
}

.scalr-ui-dashboard-widgets-message {
	font-size: 13px;
	font-family: arial;
	font-weight: bold;
	display: inline-block;
}

.scalr-ui-dashboard-widgets-message a {
	color: #333;
}

.scalr-ui-dashboard-widgets-message-slim {
	font-family: arial, sans-serif;
	font-size: 13px;
}

.scalr-ui-dashboard-widgets-text {
	font-size: 13px;
	font-family: arial;
	font-weight: bold;
	color: white;
}

.scalr-ui-dashboard-widgets-desc {
	font: bold 11px arial;
	color: #333;
	margin-bottom: 3px;
}

.scalr-ui-dashboard-widgets-message-small {
	font-size: 13px;
	color: #333333;
}

.scalr-ui-dashboard-widgets-info {
	font: bold 11px arial;
	color: #EB4608;
	vertical-align: super;
}


/* dashboard.farm */
ul.scalr-ui-dashboard-farms li {
	position: relative;
	display: inline-block;
	margin: 7px;
	margin-bottom: 15px;
	height: 60px;
	width: 55px;
	cursor: pointer;
	text-align: center;
}

ul.scalr-ui-dashboard-farms li a.icon {
	height: 50px;
	width: 50px;
    background-color: white;
	border-radius: 3px;
	position: relative;
    display: block;
	top: 8px;
	left: 3px;
}

ul.scalr-ui-dashboard-farms li a.icon div {
    position: relative;
    top: 5px;
}

ul.scalr-ui-dashboard-farms li a.count {
	position: absolute;
	top: 0;
	left: 38px;
    background: #439A25;
	border-radius: 10px;
	width: 20px;
	height: 20px;
	color: #ffffff;
	font: bold 11px arial;
	padding-top: 3px;
}
/* end of dashboard.farm */

.scalr-ui-dashboard-tutor-message {
	font-size: 22px;
	font-family: Roboto Black;
	color: #666;
	text-shadow: 0 1px #ffffff;
}

.scalr-ui-dashboard-tutor-message-big {
	font-size: 32px;
	font-family: Roboto Black;
	color: #666;
	text-shadow: 0 1px #ffffff;
}

.scalr-ui-dashboard-tutor-desc {
	font-size: 11px;
	font-family: tahoma;
	color: #666;
	text-shadow: 0 1px #ffffff;
	padding: 15px;
}

.scalr-ui-dashboard-tutor-title {
	font-size: 14px;
	font-family: tahoma;
	font-weight: bold;
	color: #666;
	text-shadow: 0 1px #ffffff;
	text-decoration: none;
	height: 15px;
}

.scalr-ui-dashboard-tutor-desc a {
	color: #666;
}

@font-face {
	font-family: "Roboto Black";
	src:
		url("Roboto-Black.eot?") format("eot"),
		url("Roboto-Black.woff") format("woff"),
		url("Roboto-Black.ttf") format("truetype"),
		url("Roboto-Black.svg#Roboto-Black") format("svg");
	font-weight: normal;
	font-style: normal;
}