.scalr-ui-dashboard-panel .x-grid-empty {
	font-size: 18px;
	background-color: #F1F5FA;
	text-align: center;
	padding: 30px;
    color: #224164;
}

.scalr-ui-dashboard-panel .x-error {
    color: red;
}

.scalr-ui-dashboard-widgets-billing label.x-form-item-label {
	font-weight: bold;
	text-shadow: none;
	color: #333;
}

/* Cloudyn */
.scalr-ui-dashboard-widgets-cloudyn .x-grid-row:nth-of-type(even) {
    background-color: #E6F2EE;
}

.scalr-ui-dashboard-widgets-cloudyn .x-grid-row.x-grid-row-over {
    background-color: #E6E6E6;
}

.scalr-ui-dashboard-widgets-cloudyn .x-grid-row {
	height: 40px;
}

.scalr-ui-dashboard-widgets-cloudyn .x-grid-row .x-grid-cell {
    padding: 7px 0;
}

.scalr-ui-dashboard-widgets-cloudyn .x-grid-row td.bold {
	font: 13px arial, sans-serif;
	color: #333333;
}

.scalr-ui-dashboard-widgets-cloudyn .x-grid-row td.border div {
	background: #84B845;
	border-radius: 0;
	margin-right: 12px;
    margin-left: 12px;
	color: white;
}



.scalr-ui-dashboard-container {
	min-height: 200px;
}

.scalr-ui-dashboard-container .x-mask {
    opacity: 1;
    background-color: #f1f5fa;
}

.scalr-ui-dashboard-container-dd div.editpanel {
	display: none!important;
}

.scalr-ui-dashboard-container div.editpanel div.remove, .scalr-ui-dashboard-container div.editpanel div.add{
	visibility: hidden;
	display: inline;
	float: left;
    height: 40px;
    line-height: 43px;
    background-color: rgba(80, 159, 0, 0.2);
    color: white;
    font-size: 12px;
    font-family: OpenSansBold;
    border-radius: 0;
    text-align: center;
    text-transform: uppercase;
}

.scalr-ui-dashboard-container div.editpanel div.add:hover {
    background-color: rgba(80, 159, 0, 0.25);
}

.scalr-ui-dashboard-container div.editpanel div.remove {
    background-color: rgba(217, 54, 0, 0.25);
}

.scalr-ui-dashboard-container div.editpanel div.remove:hover {
    background-color: rgba(217, 54, 0, 0.30);
}

.scalr-ui-dashboard-container div.editpanel {
	display: none;
}

.scalr-ui-dashboard-container div.editpanel div.add, .scalr-ui-dashboard-container div.editpanel div.remove {
	overflow: hidden;
}

.scalr-ui-dashboard-container-over div.editpanel, .scalr-ui-dashboard-container-over-empty div.editpanel {
	display: block;
}

.scalr-ui-dashboard-container-over div.editpanel div.add {
	width: 100%;
	visibility: visible;
	cursor: pointer;
	border-radius: 0;
}

.scalr-ui-dashboard-container-over-empty div.editpanel div.remove, .scalr-ui-dashboard-container-over-empty div.editpanel div.add {
	width: 50%;
	visibility: visible;
	cursor: pointer;
}

.scalr-ui-dashboard-container-over-empty div.editpanel div.add {
	border-radius: 0;
}

.scalr-ui-dashboard-container-over-empty div.editpanel div.remove {
	width: 49%;
	margin-left: 2px;
	border-radius: 0;
}

.scalr-ui-dashboard-panel .x-panel-dd-spacer {
    display: none;
	border: 1px dashed #B7D8F9;
	margin-bottom: 5px;
}

.scalr-ui-dashboard-container-over .x-panel-dd-spacer {
    display: block;
}

.scalr-ui-dashboard-widgets-div {
	width: 100%;
	padding: 5px 5px 5px 12px;
	overflow-x: hidden;
	overflow-y: hidden;
	background: #ffffff;
    border-bottom: 1px solid #f7f7f7;
    max-height: 396px;
}

.scalr-ui-dashboard-widgets-div:last-child {
    border-bottom-width: 0;
}

.scalr-ui-dashboard-widgets-message {
	font-size: 13px;
	font-family: arial;
	font-weight: bold;
	display: inline-block;
}

.scalr-ui-dashboard-widgets-message a {
	color: #333;
}

.scalr-ui-dashboard-widgets-message-slim {
    font-family: OpenSansRegular,Arial,sans-serif;
    font-size: 13px;
}

.scalr-ui-dashboard-widgets-text {
    font-size: 13px;
    font-family: arial;
    font-weight: bold;
    color: white;
}

.scalr-ui-dashboard-widgets-desc {
    font: 11px OpenSansBold;
    margin-bottom: 3px;
    text-transform: uppercase;
}

.scalr-ui-dashboard-widgets-message-small {
	font-size: 13px;
	color: #333333;
}

.scalr-ui-dashboard-widgets-info {
    font: 10px OpenSansBold,Arial,sans-serif;
    color: #F05140;
    vertical-align: super;
    text-transform: uppercase;
}


/* dashboard.farm */
ul.scalr-ui-dashboard-farms {
    margin-top: 4px;
}

ul.scalr-ui-dashboard-farms li {
	position: relative;
	display: inline-block;
	margin: 8px;
	margin-bottom: 18px;
	height: 55px;
	width: 50px;
	cursor: pointer;
	text-align: center;
}

ul.scalr-ui-dashboard-farms li a.icon {
	height: 45px;
	width: 45px;
    background-color: white;
	border-radius: 0;
	position: relative;
    display: block;
	top: 8px;
	left: 3px;
}

ul.scalr-ui-dashboard-farms li a.icon div {
    position: relative;
    top: 13px;
    margin: 0 auto;
}

ul.scalr-ui-dashboard-farms li a.count {
	position: absolute;
	top: -2px;
	left: 37px;
    background: #439A25;
    font: 12px OpenSansSemiBold;
    border-radius: 40px;
    height: 21px;
    width: 21px;
	color: #ffffff;
    padding-top: 1px;
    line-height: 20px;
}
/* end of dashboard.farm */

.scalr-ui-dashboard-tutor-message {
	font-size: 22px;
	font-family: Roboto Black;
	color: #666;
	text-shadow: 0 1px #ffffff;
}

.scalr-ui-dashboard-tutor-message-big {
	font-size: 32px;
	font-family: Roboto Black;
	color: #666;
	text-shadow: 0 1px #ffffff;
}

.scalr-ui-dashboard-tutor-desc {
	font-size: 11px;
	font-family: tahoma;
	color: #666;
	text-shadow: 0 1px #ffffff;
	padding: 15px;
}

.scalr-ui-dashboard-tutor-title {
	font-size: 14px;
	font-family: tahoma;
	font-weight: bold;
	color: #666;
	text-shadow: 0 1px #ffffff;
	text-decoration: none;
	height: 15px;
}

.scalr-ui-dashboard-tutor-desc a {
	color: #666;
}
.x-form-dashboard-checklist .x-fieldset .x-fieldset-body {
    padding: 0 22px 8px;
}

.x-form-dashboard-checklist .x-fieldset:last-child {
    border-bottom-width: 0;
}

.x-form-dashboard-checklist .x-field {
    height: 40px;
}

.scalr-ui-dashboard-checklist-icon {
    position: absolute;
    top: -8px;
    width: 38px;
    height: 38px;
    background: url('/ui2/images/ui/dashboard/checklist-sprite.png') 0 0 no-repeat;
    background-size: 38px 114px;
}

.scalr-ui-dashboard-checklist-icon-0 {
    background-position: 0 0;
}

.scalr-ui-dashboard-checklist-icon-1 {
    background-position: 0 -38px;
}

.scalr-ui-dashboard-checklist-icon-2 {
    background-position: 0 -76px;
}

@font-face {
	font-family: "Roboto Black";
	src:
		url("Roboto-Black.eot?") format("eot"),
		url("Roboto-Black.woff") format("woff"),
		url("Roboto-Black.ttf") format("truetype"),
		url("Roboto-Black.svg#Roboto-Black") format("svg");
	font-weight: normal;
	font-style: normal;
}

/*retina 2x images*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {

    .scalr-ui-dashboard-checklist-icon {
        background-image: url('/ui2/images/ui/dashboard/checklist-sprite-retina.png');
    }
}