.scalr-ui-panel-account-env .x-dataview-tab{
    min-height:125px;
}

.scalr-ui-panel-account-env .x-fieldset-subheader{
	max-width: 380px;
	word-wrap: break-word;
}

.scalr-ui-panel-account-env .x-dataview-tab .x-icon-platform-small{
	float:left;
    margin: 3px 0 3px 7px;
}

.scalr-ui-panel-account-env .x-btn-simple-large .small{
    font-size: 11px;
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    line-height: 12px;
    z-index: 2;
}

.scalr-ui-panel-account-env .x-btn-simple-large .x-btn-icon-el{
    left: 10px;
}

.scalr-ui-environment-cloud-disabled:not(.x-btn-over) .x-btn-icon-el{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url('/ui2/js/extjs-4.2/theme/svg/grayscale.svg#greyscale');
    opacity: .4;
}

.scalr-ui-panel-account-env .x-fieldset-clouds .x-fieldset-body{
    margin: -10px 0 0 -10px;
    padding-right: 22px;
    padding-bottom: 10px;
}