/*.x-budgets-grid > .x-grid-body{
    padding: 0 0 0 12px!important;
}*/

.x-budgets-grid .x-grid-empty{
    background: transparent;
}

.x-budgets-grid .x-masked .x-grid-empty{
    display: none;
}

.x-budgets-grid .x-grid-row-over{
    background: #e8eaef!important;
}

.x-budgets-grid .x-grid-cell{
    border-top: 12px solid #dfe4ea;
    cursor: pointer;
}

.x-budgets-grid .x-grid-tree-node-leaf .x-grid-cell,
.x-budgets-grid .x-grid-row:first-child .x-grid-cell{
    border-top: 0;
}

.x-budgets-grid .x-grid-row{
    background-color: #f7f3f7;
}

.x-budgets-grid .x-grid-tree-node-leaf{
    background: #F9FAFB;
}

.x-budgets-grid .x-grid-tree-node-leaf.x-grid-row-over{
    background: #f8f5f8!important;
}

.x-budgets-grid .x-grid-cell-inner{
    padding: 15px 12px 15px 0!important;
    line-height: 18px;
}

.x-budgets-grid .x-grid-cell-budget-warning .x-grid-cell-inner{
    padding-right: 24px!important;
}

.x-budgets-grid .x-grid-cell-inner-treecolumn{
    padding: 8px 12px 4px 0!important;
}

.x-budgets-grid .x-tree-expander{
    position: relative;
    top: 8px;
}

.x-budgets-grid .x-tree-elbow,
.x-budgets-grid .x-tree-elbow-end{
    background: transparent;
    
}

.x-budgets-grid .x-tree-elbow-line,
.x-budgets-grid .x-tree-elbow-empty{
    display: none;
}


.x-budgets-grid .x-tree-elbow-plus,
.x-budgets-grid .x-tree-elbow-end-plus{
    position: relative;
    z-index: 1;
    background-image: url(/ui2/images/ui/analytics/tree-sprite.png);
}

.x-budgets-grid .x-grid-tree-node-expanded .x-tree-elbow-plus,
.x-budgets-grid .x-grid-tree-node-expanded .x-tree-elbow-end-plus{
    background-image: url(/ui2/images/ui/analytics/tree-sprite.png);
}

.x-budgets-grid  .x-tree-icon-parent{
    position: absolute;
    z-index: 0;
    margin: 18px 0 0 -20px;
}

.x-budgets-grid .x-tree-icon-leaf{
    visibility: hidden;
    width: 4px;
}

.x-budgets-grid .x-tree-node-text{
    padding-left: 10px;
}

.x-budget-date{
    position: relative;
}
.x-budget-date span{
    font-size: 13px;
    text-align: center;
    display: block;
    position: absolute;
    font-weight: bold;
    right: -23px;
    width: 46px;
    padding-bottom: 12px;
    background: url(/ui2/js/extjs-4.2/theme/images/grid/sort-down.png) 50% 100% no-repeat;
}